[2016-12-28 23:53] ryanluker opened #1 "gutter is initiated with a command"

[2016-12-28 23:53] ryanluker opened #2 "gutters should show up plainly"

[2016-12-28 23:53] ryanluker opened #3 "first version will simply highlight lines with coverage"

[2016-12-28 23:54] ryanluker opened #4 "able to read in a lcov file"

[2017-02-06 05:36] ryanluker opened #5 "setup automatic build system"
build system for linux, mac and windows
- travis ci for linux / mac
- appveyor for windows

[2017-02-06 06:26] ryanluker commented on #5
a89e291113ccb1344c7c28d02dcb47b6b0a8924a completes

[2017-02-06 06:26] #5 closed

[2017-02-28 06:46] ryanluker opened #6 "create definition file for lcov-parse"
https://github.com/davglass/lcov-parse

[2017-02-28 09:16] #6 closed

[2017-02-28 09:18] #1 closed

[2017-03-10 08:06] #4 closed

[2017-03-10 08:10] #3 closed

[2017-03-12 07:42] ryanluker opened #10 "allow config of lcov name and highlight colours"

[2017-03-12 07:46] #10 closed

[2017-03-12 07:46] #2 closed

[2017-03-12 07:47] ryanluker opened #11 "Cleanup readme and publish 0.1.0"

[2017-03-12 09:19] #11 closed

[2017-03-12 09:38] ryanluker opened #14 "Refactor gutters class to be more testable"
Try out DI

[2017-03-12 09:47] ryanluker opened #15 "Give icon a background image of #24381b"

[2017-03-12 09:56] ryanluker opened #16 "Add true gutters along side line based"

[2017-03-12 10:14] #15 closed

[2017-03-12 10:21] ryanluker opened #18 "Cleanup icon sizing and dave gandy accreditation"
- should be flush with the edges
- remove mention of flaticon but leave props to dave (font awesome fame)

[2017-03-12 10:26] ryanluker opened #19 "Reword readme to better explain the optional settings"
- all settings have sane defaults, this should be mentioned to some degree
- add keywords from readme

[2017-03-12 10:28] ryanluker opened #20 "Add config watching support"
currently vscode must be restarted for settings to take effect

[2017-03-12 10:28] ryanluker opened #21 "Add lcov file watching support"
- watch lcov file
- render coverage if file changes

[2017-03-12 10:30] ryanluker opened #22 "Add alternate ways of displaying and removing coverage from the active editor"
- context menu from the editor
- keyboard shortcuts?
- user should be able to decide to enable or disable context menu / keyboard shortcuts from their settings

[2017-03-12 10:40] ryanluker opened #23 "Create simple contribution blurb for the readme"

[2017-03-12 17:55] #19 closed

[2017-03-13 09:35] MeirionHughes commented on #22
Yes, please. :D

alternatively: add it to the right-click (in the file editor) context menu.

[2017-03-13 18:52] brandongk60 opened #25 "Rename project"
Gutters -> something else.

[2017-03-13 18:52] brandongk60 commented on #25
@ryanluker

[2017-03-13 20:57] #25 closed

[2017-03-14 01:25] ryanluker commented on #22
I will see about adding this to the next release... I didnt know we also had access to the context menu, great information thanks 😄 . Thanks as well for the rating on the marketplace too!

FYI:
https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesmenus

[2017-03-14 07:01] #18 closed

[2017-03-14 07:01] #22 closed

[2017-03-16 02:53] ryanluker opened #27 "Use other lcov features to provide enhanced displaying of coverage"
possibly use the info below as a starter.
https://ariya.io/2012/12/javascript-code-coverage-with-istanbul

[2017-03-16 21:16] ndegardin opened #29 "Ability to read relative paths?"
A quick question: is it possible to use relative file paths in the LCOV file?

I didn't find any VS Code coverage extension allowing for relative paths, and I'm desperately looking for that, for my development tools to be completely on the server/container side.

[2017-03-17 06:23] ryanluker commented on #29
I dont see why the lcov compare couldnt have a relative option (compare equality based on file name rather then file path as it is now). I will add this to the 0.3.0 milestone and see if I can flesh something out 😄 . Thanks for the feedback!

[2017-03-17 14:54] ndegardin commented on #29
Just to be sure I'm clear, I'm speaking about the _SF_ values of the _LCOV_ file.
Some of the code coverage extensions were developed for _VSCode Insiders_ and don't seem to work anymore. The few working extensions (_VSCode LCOV_ and _Code Cover_) don't seem to accept a _SF_ relative path (or it's not relative to the project path).

The current approach in my _node/Typescript_ project is to genera

[2017-03-18 01:30] ryanluker commented on #29
Thanks for the extra info. I was planning on modifying / applying a configurable flag to the section around https://github.com/ryanluker/vscode-coverage-gutters/blob/master/src/gutters.ts#L95 that would turn on fuzzy file matching rather then the absolute version there is now. This fuzzy matching could be glob or regex based and have a config setting that the dev could set.

[2017-03-20 02:15] #23 closed

[2017-03-20 02:15] #16 closed

[2017-03-20 02:15] #14 closed

[2017-03-20 02:45] ryanluker opened #30 "Fix changelog link"
changelog link should point to github releases (there already is a changelog link in the marketplace)

[2017-03-20 03:12] ryanluker opened #31 "Add keybindings to display and remove coverage"
https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributeskeybindings

[2017-03-20 03:17] ryanluker opened #32 "Add customization options for toggling gutters and line coverage"
- allow disabling / enabling of gutters or line coverage

[2017-03-20 14:39] ndegardin commented on #29
I didn't see any line 95 in your source file... ;)

I didn't debug the code (or code VS extensions), I don't know at my level what "window.activeTextEditor.document.fileName" returns, but I guess that's a file with its absolute path, and get the issue now.

If I follow correctly, the SF filename I was speaking about is the `section.file.toLocaleLowerCase()` of https://github.com/ryanluker/vscode-c

[2017-03-21 01:59] ryanluker commented on #29
Yah line 95 went away when I refactored the gutters class to be more testable in a recent release 😄 . Thanks for the extra insight as well into the possible solutions, I will see about tinkering up a PR with a workable fixing sometime in the near future! Side note, I managed to recreate this with bash for windows generating my lcov and then vscode consuming it from my C drive.
[code]
As you can se

[2017-03-21 12:52] ndegardin commented on #29
Another use case :)
Just have to send another request to Microsoft/Canonical to tell them to address all those troubles with permissions and symbolic links when working with containers, and I'm back to Windows!

[2017-03-22 05:50] ryanluker commented on #29
@ndegardin I have a workable solution up in a pull request here https://github.com/ryanluker/vscode-coverage-gutters/pull/33
specifically related to your issue is the new relative option I added here: https://github.com/ryanluker/vscode-coverage-gutters/blob/34797538e15d3b05eed1e89606e7076a3f595d9e/src/indicators.ts#L58
backed by the test cases outlined here:
https://github.com/ryanluker/vscode-co

[2017-03-22 14:16] ndegardin commented on #29
I gave it a try... It's working perfectly! I'm still missing two features for a perfect daily usage, but I wouldn't want to get too greedy...For now I owe you that fifth star on VS Marketplace!

![image](https://cloud.githubusercontent.com/assets/10428752/24201690/2a1eb8ca-0ee7-11e7-9ae1-820a14a4ea62.png)

[2017-03-22 14:33] ndegardin commented on #29
And to share:
My `npm test` command runs the following shell script to generate Typescript code coverage based on JS test execution (and mappings).

It runs on server side, once the compilation is done (by watching some build info file). Hence the importance for me of portable paths and of a coverage that can be refreshed on each build.

[code]

Maybe there's a simpler way, I didn't have too much

[2017-03-23 05:19] #30 closed

[2017-03-23 05:30] ryanluker commented on #29
The way you are doing it makes sense seeming you need to have the server -> client option work, I cant see any simpler way from a high level. Side note, I created a release tonight with a few bug fixes and the relative path fix. When you get a chance to update let me know if the issue is still resolved. The option, altSfCompare, is false by default so make sure you change that to true and open / c

[2017-03-23 12:42] ndegardin commented on #29
Updated to 0.2.1, it's still working great with relative paths.
Definitely resolved! Thanks for the feature!

[2017-03-23 14:44] #29 closed

[2017-03-26 17:11] ryanluker opened #35 "Unreliable lcov rendering if more then one lcov file per workspace"
Reproduce:
- add more then one lcov
- display coverage
- see that sometimes you get no or incorrect coverage
- watch coverage
- see that sometimes you do not get updates or updated with incorrect coverage

solution:
- add metric to capture occurences
- add check for lcov find > 1

[2017-03-26 18:16] ryanluker commented on #20
moved to 0.4.0 release

[2017-03-26 22:12] #21 closed

[2017-03-28 01:02] Raynos opened #37 "Add support for rendering "uncovered" lines as red."
I'm currently integrating go coverage with lcov and this extension and it's pretty dope.

![image](https://cloud.githubusercontent.com/assets/479538/24384196/ebe2ef5c-1316-11e7-9ae2-e7b5fe2fab02.png)

Go coverage is slightly different to other coverage systems and only marks "start statements" as covered instead of the "entire statement"

My code coverage (istanbul) UI renders this as a HTML page

[2017-03-28 08:44] MeirionHughes commented on #37
Some lines / code-branches can be _partially_ covered too.

[2017-03-28 13:38] ryanluker commented on #37
Thanks for the feedback! Oddly enough I am working on enhanced coverage currently (adding partial coverage support at the moment https://github.com/ryanluker/vscode-coverage-gutters/pull/36 ). I don't see a reason why I couldn't add another indicator for the lack of coverage you outlined above @Raynos 😄 . I will link some further details here once I get a working version further along.

[2017-03-28 21:02] Raynos commented on #37
Partially covered means a single line statement contains multiple branches ( aka 1 line ternary ) and only some of the branches are covered ?

That sounds quite a bit harder then lack of coverage :)

[2017-03-29 04:40] ryanluker commented on #37
Yah you are correct about how "partial" coverage will look, and that is more difficult then just adding lack of coverage based on the ```hit === 0```. The PR I mentioned before has a few critical pieces that allow multiple coverage types to work nicely together, if partial proves to be taking a while I can always split it off and add the uncovered coverage first instead.

[2017-03-29 07:02] ryanluker commented on #37
Need to cover some edge cases and create unit tests but I think I have a workable first version:
https://cloud.githubusercontent.com/assets/1335972/24442379/acb2cb8e-1412-11e7-9cc5-ae0f791f81a9.PNG

[2017-03-29 08:27] Raynos commented on #37
Sweet, that's great, thanks @ryanluker

[2017-04-01 22:41] #27 closed

[2017-04-01 23:28] ryanluker opened #39 "Display extension errors to the user"
- currently errors are blackholed to console.log
- consider allowing these to bubble to the extension.ts?

[2017-04-02 00:47] ryanluker commented on #37
@Raynos just released 0.3.0 to the marketplace, let me know what you think of the uncovered lines 😄 . Going to close this issue in the meantime.

[2017-04-02 00:47] #37 closed

[2017-04-02 17:56] ryanluker commented on #20
seems to be working at times may not be an issue (only related to the config stashed options, such as colours, etc) going to close unless a feature really demands this.

[2017-04-02 17:56] #20 closed

[2017-04-02 18:23] #31 closed

[2017-04-02 18:56] #32 closed

[2017-04-03 04:54] ryanluker opened #43 "Add telemetry to better understand usage and errors"
## Work:
- use request to build a simple metrics gather / sender
- implement opt out for telemetry setting (already an option in the general IDE settings)
- able to shop around (GA will be free for even large amounts of data)
- https://cloud.google.com/appengine/docs/flexible/nodejs/integrating-with-analytics

## Value:
- metrics would allow insight into:
  - what features users are using
  - amou

[2017-04-03 05:11] #35 closed

[2017-04-03 05:11] #39 closed

[2017-04-07 14:19] ryanluker opened #45 "Auto render coverage when opening a file"
- When lcov watch is active, auto render coverage for the file being opened.
- If a file does not have coverage do not display error message (make configurable?) as this may become annoying as you open files that do not have lcov coverage.
- Consider having watch lcov and watch files be seperate actions

[2017-04-09 22:46] ryanluker opened #46 "Add shrinkwrap file to reduce extension size"

[2017-04-09 22:46] #43 closed

[2017-04-09 22:59] ryanluker opened #47 "Add GA tracking id as env variable to help release process"
- remove metrics from config and customConfig (gathered enough data to know not many use the custom options except altSFCompare, will still support customization though for personal use 😄 )
- add metric for coverage rending
- add process env variable for the GA tracking ID

[2017-04-10 15:09] ryanluker opened #48 "vscode 1.11.x doesnt seem to properly remove editors from active array"
## reproduce:
- add coverage to editors
- close editors or navigate away
- regenerate the lcov file
- see warning messages in debug log about editor having been disposed
- no user facing issues other then editor array not being cleaned up

## code:
Seems to be a change in the disposal pattern for the editors in the 1.11.x release, when debugging the problem it seems as if the wrong conditional flo

[2017-04-21 15:26] CherryDT opened #49 "Add ability to interpet WSL file paths"
I'm using VSCode under Windows, but the actual code runs under Linux, hence the tests etc. also run under Linux (via WSL).

Unfortunately this means that the paths in lcov.info are like `/mnt/c/Users/david/proj/myProject/myFile.js` and your extension says "no coverage for file" for every file because it probably looks for `C:\Users\david\proj\myProject\myFile.js` instead.

Would it be possible to

[2017-04-21 15:36] ryanluker commented on #49
@CherryDT hmm the option to use relativeSF paths may fix your issue. if you set ```coverage-gutters.altSfCompare``` to true and restart your vscode does that help any? I specifically use this option myself as I use WSL as well on my windows machine 😄 .

[2017-04-21 16:06] CherryDT commented on #49
Hm, I just tried that but I got the same error.

Does the lcov.info file location have any effect on that? It is `coverage/lcov.info` for me.

[2017-04-21 16:16] ryanluker commented on #49
hmm that looks fine to me... did you set the flag and restart vscode? sometimes the settings dont pickup til next IDE open. Worst case I will tinker on my machine to try to get the same error and get back to you sometime over the weekend.

[2017-04-21 16:31] CherryDT commented on #49
Yes I did. Thanks for checking it for me! 👍

[2017-04-22 00:47] ryanluker commented on #49
Hey @CherryDT I tinkered locally myself and couldn't replicate your same issue except when I set altSfCompare to false then I would get the error...

**Running coverage and starting vscode through bash on windows:**
[code]

**Generate lcov file:**
[code]
**Coverage displayed:**
![testcov-0421](https://cloud.githubusercontent.com/assets/1335972/25299920/c4371abc-26b9-11e7-974f-7f4132a42134.PNG)

**

[2017-04-23 18:04] ryanluker opened #51 "Rework gutters file to use dependency injection"
gutters file should use DI from extension to allow for ease of testing.

[2017-04-23 18:38] #48 closed

[2017-04-23 18:38] #47 closed

[2017-04-23 18:38] #45 closed

[2017-04-23 18:44] ryanluker opened #52 "Update readme to show off new features"
- watch and render visible editors
- error feedback on non-watch features

[2017-04-23 18:46] ryanluker opened #53 "Add bottom status bar icon / button to active watch mode (lcov and editors)"
- add the coverage-gutters icon as a status icon in the bottom bar
- hover / click shows the status/stats of the watchers (errors as well?)

[2017-04-23 20:43] ryanluker opened #54 "Process env method for ga id does not work"
- figure out new way of injection ga id key

[2017-04-29 00:02] ryanluker commented on #49
@CherryDT any more insight into this issue?

[2017-04-29 08:35] CherryDT commented on #49
@ryanluker sorry I got a bit distracted there.

CU on Windows 10, yes (15063.138).

settings.json (User):
[code]

lcov.info (excerpt)
[code]

VSCode version: 1.12.0-insider, commit 48ae6e30...
Extension version: 0.5.0

[2017-04-30 15:10] ryanluker commented on #49
@CherryDT Thanks for the extra info, sadly I do not have any progress on getting the extension to fail for me locally... The last thing we can try (and the most time consuming for you) is to have you checkout this project and run the extension in development mode with vscode (debug -> launch extension) and open the project you are trying to apply coverage for. This way you can add a few breakpoint

[2017-04-30 15:15] ryanluker opened #55 "Use relative path compare by default"
Relative path compare is a good choice for default true as it rides a good balance between too costly performance wise and needed bridging for WSL users

[2017-05-01 06:41] #51 closed

[2017-05-01 06:41] #53 closed

[2017-05-01 06:41] #54 closed

[2017-05-01 06:41] #55 closed

[2017-05-07 18:10] #46 closed

[2017-05-07 18:10] #52 closed

[2017-05-07 18:31] ryanluker opened #58 "cleanup readme structure"
- show more customization in the feature gifs
- add "buy me a beer" button

[2017-05-07 18:34] ryanluker opened #59 "add metrics to eval overall usage and value created"
- lines of coverage rendered
- files with coverage rendered
- have these displayed in the statusbar on hover?
- sendEvent captured

[2017-05-07 18:34] ryanluker opened #60 "add customizable option for the status bar icon"

[2017-05-07 18:35] ryanluker opened #61 "add tests for gutters, statusbartoggler and config"

[2017-05-07 20:31] ryanluker opened #62 "increment reporter version"

[2017-05-07 20:37] ryanluker opened #63 "create smaller in size gif to reduce package size"
externally host and use link possibly instead of packaging with extension

[2017-05-07 20:58] ryanluker opened #64 "investigate code coverage missing on complex lines of code"
## Overview:
when making function calls then assigning to a variable via await async function and see that there is no coverage (ts)

## Notes:
- could not reproduce locally with javascript and complex function returns
- debugged indicators function when applying coverage to more complex typescript await code. -
- Saw the issue then which produced lcov lines that looked like they were missing entr

[2017-05-10 09:42] CherryDT commented on #49
Hello, I didn't have to debug it yet. Now I wanted to take a look at it again, but now it suddenly appears to work just fine! Not sure what was changed.

[2017-05-10 13:52] ryanluker commented on #49
Good to hear that the extension is working! by chance did you update to 0.6.0? I did tinker with the coverage bits alittle in this last release... Anyways I will close this ticket in a couple days unless something comes up.

[2017-05-16 02:45] #49 closed

[2017-05-22 21:22] #64 closed

[2017-05-22 22:05] ryanluker commented on #59
cleanup loadCoverageAndRender event instead (no vanity number)

[2017-05-22 22:29] #59 closed

[2017-05-22 22:29] #60 closed

[2017-05-22 22:29] #62 closed

[2017-06-13 14:23] keithkml opened #66 "Can't find lcov.info if it's excluded from the VSCode project"
Great plugin – now that I got it working!

I spent the first 10 minutes fighting with it - reloading, reinstalling, changing config settings.

Then I realized the problem might be that the `lcov.info` is in an excluded path. (I exclude my `coverage` folder so the hundreds of generated HTML files – one per source file – don't clog up my search results)

[code]

I've found a workaround:

[code]

But

[2017-06-14 03:21] ryanluker commented on #66
Thanks for the issue keith, I have had other coworkers give me similar feedback around excluding files and having the lcov not be detected. I believe this is related to the findFiles api vscode exposes for extension development.

https://code.visualstudio.com/docs/extensionAPI/vscode-api
[code]
My implementation: https://github.com/ryanluker/vscode-coverage-gutters/blob/master/src/lcov.ts#L22

I a

[2017-06-15 01:22] ryanluker opened #68 "Move current text to code of conduct and contributing readme's"

[2017-06-15 14:30] ryanluker commented on #66
@keithkml the glob solution in #67 will go out in the version 1.0.0 release (hopefully within a week) thanks again for submitting an issue about this 😄

[2017-06-15 14:30] #66 closed

[2017-06-15 15:09] keithkml commented on #66
Yay thanks!!! Love the plugin!

[2017-06-18 19:25] ryanluker opened #69 "Update dark theme colours"

[2017-06-18 19:26] ryanluker opened #70 "when activating watch, parse active file for coverage"

[2017-06-18 23:11] #61 closed

[2017-06-18 23:11] #69 closed

[2017-06-18 23:27] #70 closed

[2017-06-19 14:09] #63 closed

[2017-06-19 14:09] #58 closed

[2017-06-23 15:56] ryanluker opened #74 "Rendering coverage when the editor does not have a document throws error"
Based on GA users are seeing this error in 1.0
[code]
related to the below code:
[code]
check for editor.document in the caller should be suffice (should not return error but simple not try to render coverage for a null document)

[2017-07-09 16:35] markis opened #75 ""No coverage for file" for projects with coverage"
I can use extension with the example project in this repo.  But I cannot with my typescript projects that I use istanbul-remap.  Here is an example project:

https://github.com/markis/strip-whitespace

Just clone that repo and run `npm test` then see that coverage gutters reports "No coverage for file" on my source files.

[2017-07-09 18:43] markis commented on #75
Nevermind, it was related to windows bash.  Windows bash outputs `/mnt/c` and vscode needs relative paths or `C:\`

[2017-07-09 18:43] #75 closed

[2017-07-14 09:51] SimonCapewell opened #76 "Feature request: Command to open coverage report in browser"
It'd be handy to be able to open the _lcov-report/index.html_ file from the command palette or via a keypress.

[2017-07-14 13:43] sinh927 opened #77 "where do i put lcov file?"
I ran angular test with coverage.
The file has been created.
However, this plugin does not work.
why?

[2017-07-14 14:24] ryanluker commented on #77
hello sinh, do you have a custom named lcov file by chance? you can define a partial path / file name by using the ```coverage-gutters.lcovname``` setting. Can you also try and check out this project and run the example project tests and see if you can see the coverage then? To assist in the debugging could you also give the partial file path to the file you mentioned?

[2017-07-14 14:34] ryanluker commented on #76
Thanks for submitting an issue Simon, would opening the coverage html file that is currently active be a more optimal approach? ie ```/vscode-coverage-gutters/example/coverage/lcov-report/example/test-coverage.js.html``` for this project. Also I am curious what extra information you are looking for in the html that is not provided via IDE? Are you looking for more detailed information provided by

[2017-07-14 15:14] SimonCapewell commented on #76
I use it to see the overall coverage percentages - the per directory coverage graphs/percentages are useful for showing where to focus test effort next.

I've got a custom location defined as `"coverage-gutters.lcovname": "coverage/lcov.info"` so opening the HTML report at `coverage/lcov-report/index.html` would do the trick

[2017-07-14 16:18] ryanluker commented on #76
Makes sense I will take a stab at something other the weekend and get back to you later 😄
I am thinking I can even open the html in the preview inside the ide for keeping the focus in vscode rather then in a browser...
[code]
https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands

[2017-07-15 05:08] pintocarlos commented on #77
I'm also running into the same issue.
I am using nyc https://www.npmjs.com/package/nyc lcov reporter option
`nyc --reporter=lcov` which generates the following file structure:

<img width="232" alt="screen shot 2017-07-15 at 1 07 18 am" src="https://user-images.githubusercontent.com/1060904/28236678-055e4a9c-68fa-11e7-95e6-8f1c8f80bf01.png">

Is this what the extension is expecting or is it someth

[2017-07-15 05:21] pintocarlos commented on #77
I tested your example project and it works correctly. Im going to assume that you depend on the coverage.json file and not on the lconv.info, which I believe is the more common one.

Any plans on supporting the text file instead of the json file only?

[2017-07-15 18:12] ryanluker opened #78 "Watch does not active if used on a file with no coverage"
- activate the watch on a file (with no coverage)
- an error occurs do to no coverage being found
- the watch has not activated

fix:
- even if no coverage is found, still active watchers

[2017-07-15 18:25] ryanluker commented on #77
hey @pintocarlos thanks for bringing more information to this issue. currently the extension only supports the lcov.info files (as you mentioned they are the more common) but this file can be anywhere inside the root of your project (see https://github.com/ryanluker/vscode-coverage-gutters/blob/2e8565fa1515ae29806bc673892709b3f6ce99b0/src/lcov.ts#L27 for the blob find of the file). The lcov name s

[2017-07-15 18:34] ryanluker commented on #75
hey @markis relative path resolution for the source files within the lcov is on by default in version 1.x of the extension so you shouldnt have had this issue... I did run the npm test on the project you specified by the info.lcov showed only the test file as having coverage?
![white-strip](https://user-images.githubusercontent.com/1335972/28241825-0c7833e0-6951-11e7-9a4a-65c7ba60bb20.PNG)
and if

[2017-07-15 19:11] #74 closed

[2017-07-15 19:11] #78 closed

[2017-07-15 22:25] ryanluker commented on #76
@SimonCapewell here is a sneak peek of the new preview lcov feature (opened via command, shortcut or menu) that will go out with 1.1.0 sometime early next week. Hopefully this will cover your use case and if not we can always iterate on the idea 😃
https://github.com/ryanluker/vscode-coverage-gutters/pull/80
![preview-lcov-1](https://user-images.githubusercontent.com/1335972/28243013-b5327d54-6971-

[2017-07-15 22:38] #68 closed

[2017-07-15 22:51] #76 closed

[2017-07-17 18:43] pintocarlos commented on #77
Hi @ryanluker I figured out what the problem was.
The extensions Watcher will not start parsing the code coverage in the lcov file unless you are currently in a file that actually has tests and is covered by the lcov file.

Take for instance the following scenario:
- package.json file is the only file open in the project
- Coverage Gutters is Enabled.
- Project is reloaded to enable extension.
- P

[2017-07-18 01:21] ryanluker commented on #77
@pintocarlos thanks for the extra info! In the 1.1 release (coming soon) the watch will always start now, [see code here if interested](https://github.com/ryanluker/vscode-coverage-gutters/pull/79/commits/017ee8b039dc02e2ad1a9af8e76801485dedd803), which should facilitate the flow you mentioned! I will leave this ticket open until friday-ish before closing it (if you or sinh has further issues you

[2017-07-18 02:53] ryanluker opened #82 "Use same google analytics action for both lcov's"
https://github.com/ryanluker/vscode-coverage-gutters/blob/c6b3e2e1c834a8e19681a046068c9416fe2f6295/src/gutters.ts#L113
switch ```showQuickPick``` to ```showQuickPickLcov```

[2017-07-18 02:54] ryanluker opened #83 "Update preview lcov report feature image to be a gif"

[2017-07-18 02:55] ryanluker opened #84 "Increment version number to 1.2.0 to prep for next release"
- update reporter version
- update package.json version

[2017-07-18 02:56] ryanluker opened #85 "Use quick pick items instead of raw strings for the quick pickers"
https://code.visualstudio.com/docs/extensionAPI/vscode-api#QuickPickItem
replace raw strings with quick picker items which should help with really long file paths being shown in the picker list

Example usage:
https://github.com/ryanluker/vscode-coverage-gutters/blob/v1.1.3/src/gutters.ts#L58

[2017-07-18 09:20] SimonCapewell opened #86 "Styling lcov preview"
Nice progress on the lcov preview. Can we have it styled so that we get the bar graphs and colour coding? This may look a little incongruous compared to the current theme, but it's no worse than extensions like Swagger Viewer.

Also when you _open in remote_ on the preview tab, it opens your current project on github, e.g. https://github.com/user/project/blob/dev/coverage/lcov-report/index.html ra

[2017-07-18 15:01] pintocarlos opened #87 "Colors next to code prevents user from setting/removing a breakpoint"
When you try to set a breakpoint on a given line that is showing coverage report (green or red) it does not let you set/remove a breakpoint.

Anyone else experiencing this?

[2017-07-19 05:15] ryanluker commented on #87
Hey carlos, current the vscode api only allows one gutter element at a time sadly ☹️ so if you use the gutter coverage you need to switch it off to interact with the breakpoints [ref](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-namethemabledecorationrenderoptionsaspan-classcodeitem-id247themabledecorationrenderoptionsspan). The other option I was going to suggest was to use the l

[2017-07-19 05:27] ryanluker commented on #86
Thanks for the feedback simon, sadly the microsoft vscode api for previewing html files is not as great as markdown files. The current solution is a definitely a mvp but based on the provided [api](https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands#_working-with-the-html-preview) I dont see an easy solution for cleaning up the css and the links inside the report (they mention usin

[2017-07-19 05:29] pintocarlos commented on #87
Thanks for replying. I think the solution suggested would work great for now that VSCode doesnt allow multiple gutters elements. Ideally if it did allow it, you could layer the coverage underneath the "breakpoint layer".
Thanks for looking into this. I'll he happy to test things out in your next release 👍

[2017-07-20 17:18] #77 closed

[2017-07-21 08:54] SimonCapewell commented on #86
Looks like a big job then! A command to open the report in your default browser is probably the best way to get a rich report.

[2017-07-24 10:57] valpet opened #88 "Keybinding to show coverage overrides default toggle comment block binding"
The keybinding shift+cmd+7 that is the default keybinding for toggling comment block is overridden by the show coverage keybinding. Setting a custom keybinding works as a workaround but that should not be necessary. I'd be happy if you could change the hotkey for show coverage.

[2017-07-25 03:24] ryanluker commented on #88
thanks for submitting an issue @valpet . I used the keyboard shortcut references here https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-shortcuts-reference before choosing the 5 keybindings that are associated with the current features so i am not sure how a conflict came about... which keybinding exactly was the one in conflict?

[2017-07-26 12:37] valpet commented on #88
Excuse my poor choice of word, it's the Toggle Line Comment // ... that got overridden for me, not the block /* ... */

Original:
[code]

Conflicting:
[code]
Perhaps worth mentioning (but not sure if that matters) is that I'm on Swedish keyboard where the / character is mapped to the key shift+7. Maybe this is only an issue for people with Swedish keyboard mappings?

[2017-08-05 05:33] jayongg opened #89 "Support sourcemaps"
Hi, I'd like to use source maps since I'm coding in Typescript. Happen to be considering such a feature?

If not I'm happy to try it.

[2017-08-06 04:38] ryanluker commented on #89
hey @jayongg , thanks for submitting an issue. I myself have used this extension with typescript based projects already, are you having trouble with the code coverage showing up in the right place?

[2017-08-06 04:39] ryanluker commented on #88
thanks for the additional info @valpet I will take a look into switching the default from 7 to maybe something else. Although I can see this just being an issue in general as there might not be a key combo that does not conflict across every keyboard layout.

[2017-08-06 04:43] jayongg commented on #89
whoa - it works for you @ryanluker ?  Yes I'm having trouble with it. I just updated your example to include a file in typescript, with some code coverage to run on it. when I have the .ts file open, the gutters do not appear. They only appear when I open up the emitted .js file.

I was about to start investigating myself, but if it magically works, great!  How would it work?  I couldn't find anyw

[2017-08-06 04:47] jayongg opened #90 "Intra-line code coverage indications"
Hi,

when I have a ternary operation and tests that only execute one code path, I would like an indication that only certain lines/columns were executed. Instead I see that the whole line is green.

Similarly if I have an if statement and an else.  Possible to have an option to show squiggly lines instead of gutters?

(low priority :) )

[2017-08-06 04:50] jayongg commented on #89
BTW I pushed an example  here: https://github.com/jayongg/VSCodeGutterUpdate.git (forked off of your code).

example/coverage/typescript-example.ts is the production code, and I added a new test to test.js

[2017-08-08 03:23] ryanluker commented on #90
Hey @jayongg thanks for the issue 😄 . currently you can do line coverage instead of gutter coverage through the settings (see my post here for info https://github.com/ryanluker/vscode-coverage-gutters/issues/87#issuecomment-316275141). Could this be related to your other typescript issue? I as able to have partial (orange) indicators for javascript ternaries.
![save2](https://user-images.githubuse

[2017-08-08 03:46] jayongg commented on #90
Hey hey!  No not related to typescript issue. You are able to see coverage of .ts files?

As for ternary operators out of curiosity are you able to see which particular conditions were covered?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ryan Luker <notifications@github.com>
Sent: Monday, August 7, 2017 8:23:27 PM
To: ryanluker/vscode-coverage-gutters
Cc: Jay

[2017-08-08 05:35] ryanluker commented on #90
ahh I see what you mean now about the coverage. no the coverage does not show for the specific condition that is "uncovered" it simply shows you that something on that line is not. Currently I can not think of a clean way (other then the green squiggles you mentioned)... in other extensions I have seen other people use symbols to try to better show the extent of the coverage but I do not think tha

[2017-08-08 05:40] ryanluker commented on #89
thanks for the example. I am thinking it might not be showing cause you are not using the typescript file from within a typescript test file (I have seen coverage work with my other ts projects using mocha with nyc to generate the lcov). I can tinker with this alittle more next weekend and see if I can figure out a better example for you to try.

[2017-08-08 05:49] jayongg commented on #89
That would be awesome to get an example.

I am curious, for my own edification, where in the code do you actually handle source maps such that you can map js coverage to ts?  Because so far what I have seen is that coverage files only work on javascript, not typescript. I would love to be wrong though :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ryan Luker

[2017-08-08 05:55] ryanluker commented on #89
You are correct about the system not considering the language of the source file 😄 . the lcov standard is supposed to consider source mapping when the lcov.info file is generated.
You can see here
https://github.com/ryanluker/vscode-coverage-gutters/blob/c6b3e2e1c834a8e19681a046068c9416fe2f6295/src/lcov.ts#L38
I consume the file and then here I load the visual indicators based on what the lcov say

[2017-08-08 05:57] jayongg commented on #89
You could be right!  Though how did you set up to generate a lcov file from a ts directly?  I guess that is where your next example comes in :).  Even at my work we don't have that set up (we generate lcov from outputted is file)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ryan Luker <notifications@github.com>
Sent: Monday, August 7, 2017 10:55:55 PM
To: ryan

[2017-08-10 15:19] jayongg commented on #89
hey so my build system got set up to generate Lcov (for part of the code base) for typescript and it works !  So at least from me this is less important. FYI so you don't have to go trough creating a sample or something :)

[2017-08-10 15:20] jayongg commented on #90
Hmm is it possible to have vscode highlight part of a line (as opposed to swuiggles)?  Actually I think the real question is - is it possible to read intra line info from a lcov file? I presume it is :)

[2017-08-11 04:10] ryanluker commented on #89
@jayongg based on your email I will close this issue but I will still look into the other one you added 😄 thanks again!

[2017-08-11 04:10] #89 closed

[2017-08-13 21:50] ryanluker commented on #86
@SimonCapewell going to close this one to cleanup the issue list. FYI there is other extensions on the vscode marketplace that may achieve want you want as well (that being open link in browser). thanks anyways for the submitting an issue though.

[2017-08-13 21:50] #86 closed

[2017-08-13 22:06] ryanluker commented on #88
@valpet vscode has a new feature recently
https://code.visualstudio.com/docs/getstarted/keybindings#_detecting-keybinding-conflicts
that helps with fixing conflicting keyboard shortcuts. Also given that each language could have its own conflicts (as you mentioned) I will close this ticket but thanks for bringing this to my attention, I will make sure to have all future keybindings be customizable

[2017-08-13 22:06] #88 closed

[2017-08-13 23:17] ryanluker commented on #87
@pintocarlos this issue will be fixed in 1.1.2 which will go out shortly. here is the commit if you are interested in the fix https://github.com/ryanluker/vscode-coverage-gutters/pull/91/commits/2ec3050b0da616e86bbed087417cafb52fb37d02

[2017-08-13 23:23] #82 closed

[2017-08-13 23:24] #83 closed

[2017-08-13 23:24] #84 closed

[2017-08-13 23:24] #87 closed

[2017-08-14 03:16] pintocarlos commented on #87
Thank you @ryanluker

[2017-09-08 13:22] Chcap opened #92 "Fails to find lcov.info file in path with directories starting with '.'"
lcov.info should be found when file is in path with directories starting with a dot as first character.

The solution seems to simply use the `dot: true` option with `glob` package ([here](https://github.com/isaacs/node-glob#dots)).

[2017-09-09 01:13] ryanluker commented on #92
Thanks for opening an issue @Chcap ! I can take a look this weekend to get your fix merged in. Then release it sometime sunday or early next week as a hotfix.

[2017-09-11 03:22] ryanluker commented on #92
Release for this should be out by tomorrow am PST, thanks again!

[2017-09-11 03:22] #92 closed

[2017-09-11 03:40] ryanluker opened #94 "Update marketplace content"
- remove extension settings from readme now that there is a tab for that (mention see contributions in IDE)
- update changelog (use releases in github)

[2017-10-04 08:18] PatrickRoumanoff opened #95 "Breakpoints are hidden by coverage indicator"
Maybe there is way to provide a gutter decoration that is compatible with breakpoints?

[2017-10-04 16:23] ryanluker commented on #95
Last I checked there wasnt a gutter decoration that played nice with breakpoints sadly ☹️ . Another user had similar issues and I got him a fix in version 1.1.2. That fix should allow you to use line coverage and breakpoints https://github.com/ryanluker/vscode-coverage-gutters/issues/87 . Let me know if this fixes your issue.

[2017-10-15 13:47] hendrics opened #96 "Support cobertura xml format with npm cobertura-parse"
Hi @ryanluker

Do you think it would be easy to add cobertura support using https://www.npmjs.com/package/cobertura-parse which should be compatible with `lcov-parse`?

I would like to use it with `pytest` and python which does not support `lcov` parser,
but i am sure other tools might benefit from this integration.

Thank you!

[2017-10-15 15:53] ryanluker commented on #95
@PatrickRoumanoff going to close this issue unless the gutter icon api changed recently (the workaround I mentioned should still work in the meantime). I will keep this issue in mind though as vscode releases more versions!

[2017-10-15 15:53] #95 closed

[2017-10-15 15:58] ryanluker commented on #96
hey @hendrics , thanks for submitting this issue 😄 . Looks definitely doable to add another adaptor to the lcov-parse then it would use xml or lcov based coverage based on which files were found. I will put this issue into the next release (1.2.0) and maybe tinkering with a solution today a bit.

[2017-10-15 16:52] ryanluker opened #98 "Implement support for multi root folders"
https://code.visualstudio.com/updates/v1_17#_preview-multi-root-workspaces
https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs

Info:
- Currently only the first folder opened is seen by the extension.
- Go through and implement the recommendations from adopting multi root

[2017-10-15 23:18] hendrics commented on #96
Thank you for the quick response! and even more amazing that you've already given it a go!

[2017-10-16 03:19] ryanluker commented on #96
No problem! I do most of my open source contributions on the weekend so you caught me at a good time for some tinkering 😄 . I may have a few questions for you later once i get xml working but otherwise i think another weekend at the latest to get this done.

[2017-10-22 21:34] #94 closed

[2017-10-22 22:22] ryanluker commented on #96
@hendrics getting close to finishing this issue #97. There is a few bits though that will not work with the 1.2.0 release. For example the partial coverage relied on the branches section of the coverage report but the cobertura parse extension did not implement that specific piece of functionality. The html coverage reports, full line coverage support, file watching and multi coverage file selecto

[2017-10-30 04:09] ryanluker commented on #96
@hendrics doing some final testing with a linux desktop but otherwise 1.2.0 should go out shortly!
https://github.com/ryanluker/vscode-coverage-gutters/releases/tag/v1.2.0

[2017-10-30 04:09] #96 closed

[2017-11-06 01:02] #98 closed

[2017-11-06 01:02] #85 closed

[2017-11-07 02:40] ryanluker opened #100 "Cannot read property 'description' of undefined"
## Bug:
Reproduce by clicking out of a file picker
Need to check that the item being returned from the quick pick is not undefined

## Info:
[code]

[2017-11-07 02:44] ryanluker opened #101 "Cannot read property 'map' of undefined"
## Bug:
If you do not have a coverage file you can get this error as the pickFile does not account for length 0 in its logic.

## Info:
[code]

[2017-11-08 09:18] stoffeastrom opened #102 "`watch`not triggered"
I have a use case where I'm watching files and writing a lcov file with NYC on the fly. However this doesn't trigger an update. If I'm not watching the files and exit the process it works. It might be connected to [this](https://github.com/Microsoft/vscode/issues/31602)

[2017-11-08 16:18] ryanluker commented on #102
@stoffeastrom Thanks for the issue and the research! I will take a look at this next weekend probably and see where I get too.

[2017-11-11 21:24] stoffeastrom commented on #102
@ryanluker I've been doing some more investigation and it seems like I can't get the correct coverage when I'm watching and generate a new coverage file on the fly from NYC. It might not be an issue with this plugin at all.

[2017-11-13 12:25] stoffeastrom commented on #102
@ryanluker I solved my problem. However using multi root one of the vscode processes is using 100% cpu. Will do some more investigation!

It's super cool to get live coverage in a file though :)

[2017-11-13 17:42] stoffeastrom opened #103 "`No coverage for file!`"
If I generate coverage for multiple files I get

`No coverage for file!

If I generate coverage for *one* file it works.

[2017-11-13 17:46] stoffeastrom commented on #103
Sorry my bad, it works great!

[2017-11-13 17:46] #103 closed

[2017-11-13 17:47] stoffeastrom commented on #102
I will make another issue regarding multi root

[2017-11-13 17:47] #102 closed

[2017-11-13 17:50] stoffeastrom opened #104 "Using multi root workspace yields 100% cpu usage"
When using a multi root workspace I get the picker to choose from 3 lcov files. After choosing one of them the cpu goes crazy and I have to force quit the process which in turns terminates the extension host

[2017-11-13 19:29] ryanluker commented on #104
@stoffeastrom thanks for the new issue. I was not able to reproduce the 100% cpu on my windows 10 machine with the example node folder and example python folder open in multi root. Can you give me more informantion about OS, vscode version, etc? I will check out this issue on my ubuntu laptop later today to see if it is unix bug.

[2017-11-13 19:30] ryanluker opened #105 "Illegal argument: line must be positive"
add protection for no details / coverage when displaying coverage

[2017-11-13 19:41] ryanluker opened #106 "Rework coverage read and load to cache instead"
Currently everytime a file is opened, that has coverage to be displayed, the coverage file is read in and the coverage displayed. This is quite wasteful and can cause alot of cpu usage on large files (both lcov and source files).

Instead ideally there could be is a coverage object in memory that holds the current coverage from all lcov files and is updated independently.
This updating should happ

[2017-11-13 19:47] ryanluker commented on #90
Closing this one as it has gotten quite stale, could potentially work on this again after the caching enhancements #106

[2017-11-13 19:47] #90 closed

[2017-11-13 21:23] stoffeastrom commented on #104
![screen shot 2017-11-13 at 22 21 02](https://user-images.githubusercontent.com/682243/32749850-ff3138ec-c8c0-11e7-92a4-c664926c3cf2.png)

![screen shot 2017-11-13 at 22 21 48](https://user-images.githubusercontent.com/682243/32749877-15dc3844-c8c1-11e7-9cf9-cd1d4ef8a388.png)

Let me know if you need more :)

[2017-11-13 21:51] stoffeastrom commented on #104
![multi-root-coverage-gutters-issue-mac](https://user-images.githubusercontent.com/682243/32751152-17f31b44-c8c5-11e7-896a-79ff9bb3eef4.gif)

[2017-11-14 01:04] ryanluker commented on #104
@stoffeastrom thanks for all the extra info! the split pane might be the culprit... what happens if you do watch/display with one pane? Either way this gives me more then enough info to do some tinker on my ubuntu vscode. Worst case is that you might need to wait until i do the performance improvements in #106  for that CPU cost to go down.

[2017-11-14 06:21] #100 closed

[2017-11-14 06:21] #101 closed

[2017-11-14 06:21] #105 closed

[2017-11-14 14:14] stoffeastrom opened #108 "Missing partial coverage on multi branch single line code block"
![screen shot 2017-11-14 at 15 11 09](https://user-images.githubusercontent.com/682243/32784084-1d695d2a-c94e-11e7-8206-2a0cdd085d25.png)

Looking at coveralls
![screen shot 2017-11-14 at 15 12 39](https://user-images.githubusercontent.com/682243/32784161-561cb8b0-c94e-11e7-9af7-dc8491baa71b.png)

Should it display partial coverage or full for this use case?

[2017-11-15 05:49] ryanluker commented on #108
@stoffeastrom good find, I will take a look and see if I can make a failing test for this and then add it to the 1.3.1 release!

[2017-11-15 15:22] ryanluker commented on #108
But yes it should show partial as one of the AND branches seems to not have been hit (if I read the screenshot correctly)

[2017-11-16 07:51] stoffeastrom commented on #104
@ryanluker It doesn't matter if I watch/display with one pane. Same thing the cpu gets choked.

[2017-11-17 22:04] outluch opened #109 "It doesnt live reload on icov update when 2 panes"
I have 2 panes. One for `index.js`, second for `tests.js`.
I started supervisor to run my test-coverage command and regenerate lcov on every change in my sources.
What I expect is updating green/red marks in `index.js`.
What I see is it doesnt update until I turn off and on again Watch mode. Or until I switch to other tab (even Settings) and back to index.js.

[2017-11-18 02:31] ryanluker commented on #109
@outluch thanks for the issue, I think i have seen this issue as well when you have more then one pane (but not a multi root workspace). can you confirm that the live reload occurs when you change the index.js file in a single pane view?

[2017-11-18 20:46] hendrics commented on #96
@ryanluker thank you for this. I've only just managed to get some time to try it. Unfortunately, it seems not be working well for me. I see some gutters but only on a few lines at the top of the file and not at the other places. I see in the xml files that there should be more lines but they are not being displayed... i might be doing something wrong. I do not have time to create a small, reproduc

[2017-11-22 05:36] ryanluker commented on #109
@outluch thanks for the extra info, i will take a look at this with the 1.3.1 release I am working on. I use vscodes file watching api's to efficiently watch files for changes. I am thinking the api might have been updated for it in the 1.18.1 release.

[2017-11-28 18:04] villelahdenvuo commented on #108
I have also never seen any partial coverage highlights, don't know why.

[2017-12-07 04:09] wub commented on #103
Did you do anything specific to fix this, or did it fix itself? (Getting the same issue)

[2017-12-07 18:01] stoffeastrom commented on #103
@wub I don't remember what I did. I thought I used it wrong but it just disappeared.

[2017-12-08 04:37] ryanluker commented on #108
@villelahdenvuo can you see the partial coverage in the example project if you run that? if you are using xml based coverage files there isnt partial support yet as the xml parse module, I am using, doesnt have the functionality present.

[2017-12-08 04:39] ryanluker commented on #103
@wub are you using a coverage file that is not named lcov.info? there is a extension setting that lets you set your filename to assist the system with finding it.

[2018-01-05 08:23] ldrick commented on #104
Hi @ryanluker ,

I can prove the 100% load on one core looking at htop on Ubuntu 17.10.
Furthermore, on my machine closing vscode normaly doesn't stop the load. I have to force quit vscode in htop.
Working with the exact same directory standalone (not in multi root workspace mode) everything is fine.
I am running vscode 1.19.1.

I'd love to give you every information you could need. Thank you

[2018-01-05 16:01] ryanluker commented on #104
@ldrick thanks for the further info. Leaning towards trying to find a temporary fix for this one and get it into the 1.3.1 release but the real solution will come from fixing up the underlying structure outlined in #106 . I will message you if I cannot get the example project, in this repo, to be pined to 100% cpu on my ubuntu 17.10 install.

[2018-01-05 20:17] ryanluker commented on #108
@stoffeastrom looked into this issue and added some more advanced test cases to better mimic real world code examples, I think this issue stems from the fact that there is an unexplored else path that is causing the partial coverage in your original picture. You can see below that when I open the coverage report you can see that there is an E icon (represents an else path not traveled). going to c

[2018-01-05 20:39] ryanluker commented on #109
@outluch I updated vscode to latest 1.19.x and wasnt able to reproduce on my ubuntu 17.10 install, I will attempt to get someone to test on their macosx. worst cause I will retest these features in the 1.4.0 upcoming release.

[2018-01-05 20:41] #108 closed

[2018-01-05 21:10] ryanluker opened #110 "Update dependencies"
**Required:**
typescript
tslint
lcov-parse
request

[2018-01-06 16:31] ryanluker opened #111 "Update documentation and readme"
## Requirements:
- add written documentation for features.
- written docs should assist new users in discovering features without needed to look through the added command palette items.
- add new documentation outlining new logging functionality
- mention consume all functionality of lcov / xml files

[2018-01-12 12:48] iMarv opened #112 "lcov file requires file extension"
# Expected behaviour
Plugin should find lcov file, regardless of name

# Actual behaviour
If lcov file does not have an extension (for example if its name is just `lcov`, insted of `lcov.info`), the plugin is not able to find it

[2018-01-13 18:24] iMarv commented on #112
I configured it like in your example, but the plugin was not able to find the file.
Renaming the file and adding an extension to it fixed this issue. While that works, I would prefer to keep the name as `lcov`

[2018-01-13 21:57] ryanluker commented on #112
@iMarv thanks for the further info, I will take a look at this and try to get it into the 1.3.1 release that is upcoming.

[2018-01-25 17:39] EvanDarwin commented on #112
My coverage is built in a different directory (as `lcov.info`) but it can't find it. I tried putting the exact path into `coverage-gutters.iconvname` but to no avail. I'm running W10 but this plugin is just entirely not working for me. 😞

[2018-01-26 04:58] ryanluker commented on #112
@EvanDarwin sorry to hear about the issues. currently there is no full file path option (currently the lcov.info has to be inside the workspace folder) but i can consider adding that as a new feature in the 1.4.0 release that I have planned!

[2018-01-28 21:53] ryanluker commented on #112
@iMarv I just tested using an lcov file name with no extension and it worked, when you modified ```"coverage-gutters.lcovname": "lcov",``` did you restart vscode? Currently any coverage gutter settings require a restart of the IDE to take effect (planning for this to be automatic in version 1.4.0).

[2018-01-28 22:30] ryanluker commented on #104
@stoffeastrom @ldrick Sorry for the long turn around on this one, I have narrowed down the issue and plan to get a fix out with 1.3.1. In the meantime you can set ```"coverage-gutters.altSfCompare": false``` (make sure to restart vscode after) to get around the current bug with my extension and vscode workspace api. If you are curious about the bug you can find the offending code here https://gith

[2018-01-28 23:24] ryanluker commented on #104
@stoffeastrom @ldrick Got this one figured out :smile: you can find the failing test here 386cc73 and the eventual fix here aa09de2

[2018-01-29 00:44] #104 closed

[2018-01-29 08:38] ldrick commented on #104
Many thanks @ryanluker, I installed 1.3.1, tested and my CPU seems happy again. :grin:

[2018-01-29 09:02] iMarv commented on #112
I did not restart. Indeed works like a charm, thank you for investigating!

[2018-01-29 09:02] #112 closed

[2018-02-03 20:22] ryanluker commented on #109
moving this work to the 1.4.0 re-architecture release

[2018-02-03 20:22] #109 closed

[2018-02-04 18:43] ryanluker opened #114 "Module: Revamp Coverage Renderer"
## Description:
- revamp current indicators module into a general purpose render / display to IDE module
- main focus is interacting with the visible IDE editors and panes

## Functionality:
### renderCoverage
- needs to accept section set and an array of editors to display too
### displayReport
- takes a lcov html report file and sends it to a new pane

[2018-02-04 18:47] ryanluker opened #115 "Module: Revamp Coverage into LcovParser"
## Description:
- module focuses on taking files (that are in string format) and running them through the lcovparse and coberturaparse adapters. After it merges the results (creating a set of sections with the key being the file path)

## Functionality:
### filesToSections
- takes an array of file strings and extracts the sections
- must intelligently choose between xml and lcov
- removes duplicat

[2018-02-04 19:05] ryanluker opened #116 "Module: Revamp gutters / core loop into new CoverageService"
## Description:
- CoverageService aims to have a more responsive and cached loop for the main program flow
- sections are added to the in memory sections set (keyed by file path) to allow for greatly improved performance of sequential renders of the coverage to the IDE

## Functionality:
### getSections (private)
- returns the currently cache sections set

### displayForFile (public)
- takes a fil

[2018-02-04 19:08] ryanluker opened #117 "Architecture Revamp: focus on caching and performance"
## Description:
- Use a section set to allow for better caching of parsed lcov files (no matter xml or lcov based)
- Restructure current code to follow new architecture outlined below
- Consider init and setup operations for better startup performance

## Issues:
- #116
- #115
- #114
- #118
- #127

## Documentation:
![img_20180203_144445494](https://user-images.githubusercontent.com/1335972/357811

[2018-02-04 19:13] ryanluker commented on #106
Closing this issue as the work is broken out into this story #117

[2018-02-04 19:13] #106 closed

[2018-02-04 19:16] ryanluker opened #118 "Module: Revamp extension setup and initialization"
## Description:
- revamp current extension setup flow to support new CoverageService logic
- allow for better divide between IDE start and initial functionality usage (ie display some coverage)

## Functionality:
- config module needs to be cleaned up to allow for gutters to do the init
- gutters defers most code logic to the CoverageService
- gutters needs to init the following: config, reporter,

[2018-02-18 19:28] #110 closed

[2018-03-22 19:01] shanselman opened #121 "VS Code has changed its notifications/menus, Coverage Gutters "choose file" no longer works"
VS Code has changed its notifications/menus, Coverage Gutters "choose file" no longer works. I hit "watch" and it doesn't pop down the choose file menu anymore. It just looks for the default globs. I got it working by making the file explicitly named "lcov.info," but with the file chooser working with the new notification system, reports can't be generated, etc.

[2018-03-23 00:46] ryanluker commented on #121
@shanselman thanks for the issue. which vscode version and operating system are you using? I tried on 1.21.x on windows and it currently works as expected. I also tried 1.22.x insiders on windows and it definitely is very slow but it eventually does bring up the old menu. I will take a look to see if microsoft has updated the choice prompter in my next release (2.0)
![real-slow](https://user-image

[2018-03-23 16:41] shanselman commented on #121
Interesting...that's a very long pause there...maybe I'm not waiting long enough? Does it need to be named lcov.info or is it any *.info?
[code]

[2018-03-24 03:31] ryanluker commented on #121
@shanselman by default it looks for lcov.info (or lcov.xml) inside the workspace folder (ignoring node_modules, build stuff, etc). You can also manually set the name in your settings file (see image below). The speed of the lcov consumption (in 1.x of the extension) is pretty bad and the new 2.0 version will be much better preforming 😄 .

The only other thing I can think of, that might be an issue

[2018-03-24 04:54] PureKrome commented on #121
@ryanluker I _think_ the repo Scott was working on, using/leveraging this extension is [this experimental git repo on GitHub](https://github.com/shanselman/dotnetcoreunittestingwithcoverageinvscode). Which means you could possibly clone that and timer-test with your latest branch, etc?

[2018-03-24 15:14] ryanluker commented on #121
@PureKrome thanks for the insight, i will definitely take a look at his repo and test it against the next release.

[2018-04-05 06:54] Franklin89 opened #123 "Unable to see breakpoint when code coverage is active"
Even though there is a breakpoint set and it gets hit while debugging, it is not displayed if watching a file.

![image](https://user-images.githubusercontent.com/4151467/38351206-c899cd0e-38ae-11e8-9041-dc7c160f8462.png)

After removing the watch:
![image](https://user-images.githubusercontent.com/4151467/38351243-edfb1b5c-38ae-11e8-8057-aa5e0f580a23.png)

[2018-04-05 06:56] Franklin89 commented on #123
Just saw #95. Guess that is still the same issue then?

[2018-04-05 15:39] ryanluker commented on #123
@Franklin89 yes, based on my knowledge the api hasnt improved for this but I can take a look with the re-architecture work to see if there is a way to play nicer with the breakpoint. Not sure if you saw but in the meantime you could use this approach https://github.com/ryanluker/vscode-coverage-gutters/issues/87#issuecomment-316275141.

[2018-04-05 17:10] Franklin89 commented on #123
Thank you for that @ryanluker

[2018-04-05 21:48] ryanluker opened #124 "Add notification support for long running coverage operations"
## Info
- implement notifications to allow for visibility into watcher status
- implement cancellation for long running operations
  - coverage searching
  - coverage file loading
  - etc
https://code.visualstudio.com/updates/v1_22#_extension-authoring

[2018-04-06 13:10] sondreb opened #125 "Unable to get it working with workspace"
I have a workspace with multiple projects and I'm unable to get the plugin to work.

"No coverage for file!" error is shown when I attempt to run it.

It works fine if I open the individual projects, it loads the coverage and displays correctly.

Have made different attempts at setting the "coverage-gutters.lcovname" settings, with no luck.

Code version: 1.22.1
Plugin version: 1.3.1

[2018-04-10 06:20] ryanluker opened #127 "Module: Revamp File Loader"
## Description:
- module will look for coverage files based on config settings and return them as strings

## Functionality:
### findCoverageFiles (public)
- locates xml and lcov coverage files in the workspace
- uses config where applicable for custom coverage file naming
- returns these files as strings

[2018-04-12 05:25] #114 closed

[2018-04-12 05:25] #115 closed

[2018-04-12 05:25] #127 closed

[2018-04-29 15:06] ryanluker opened #128 "Donate link doesnt have svg in readme in extension search"
## Issue:
- when searching for coverage gutters the readme shown in the IDE has no svg for donate
- add the new shield io svg to the images folder to prevent microsoft from blocking

[2018-04-29 15:09] ryanluker commented on #123
@Franklin89 looked into this and didnt find anything new from microsoft but they did mention extending the decoration system (what I use to make the coverage lines, vs the gutter coverage which is simply image icons) to the gutters so that should help with this in the future!

[2018-04-29 15:09] #123 closed

[2018-04-29 15:10] ryanluker commented on #125
@sondreb closing this issue for now. As I mentioned, next release of the extension should clear up alot of these edge cases

[2018-04-29 15:10] #125 closed

[2018-04-29 15:14] #116 closed

[2018-04-29 15:45] #128 closed

[2018-04-29 15:45] #111 closed

[2018-04-29 16:35] ryanluker opened #129 "Cleanup coverage.ts and remaining wrapper files"
## Issue:
- preview coverage report requires old coverage.ts file to function, needs to be deprecated or refactored
- remaining wrappers need to be removed

[2018-04-29 16:40] #118 closed

[2018-04-29 16:43] ryanluker opened #130 "Add more unit test coverage to new modules"
## Issue:
- with the re-architecture release (2.0.0) there is a new for new unit test coverage
- currently integration tests cover expected e2e functionality and gives release confidence

## More Tests Needed:
- [x] CoverageService
- [x] Renderer
- [x] CoverageParser
- [x] FilesLoader

[2018-04-29 16:45] #117 closed

[2018-05-01 18:21] hunterjm opened #131 "Partial Coverage Calculation Only on Path 0"
Is there a particular reason Coverage Gutters only marks lines as partially covered when the `else` path, or `path 0` has no hits?  Shouldn't it check that all paths for the branch condition have hits and mark it as `partial` if any of them do not?

[2018-05-04 17:44] ryanluker commented on #131
@hunterjm thanks for submitting this issue! Are you able to reproduce this with the example projects that are in this repository? I am working on the 2.0 architecture currently and I am getting correct looking coverage for the partial lines (based on my understanding).
![screenshot from 2018-05-03 08-59-49](https://user-images.githubusercontent.com/1335972/39642962-1d3fd296-4f88-11e8-8d56-70396cdc

[2018-05-05 15:31] ryanluker commented on #131
@hunterjm ahh i see now thanks, i will fix this in the 2.0 release 😄

[2018-05-06 16:34] ryanluker commented on #131
@hunterjm did a first pass on this one and I am definitely getting "more" correct results I believe :smile: .
![screenshot from 2018-05-06 08-23-50](https://user-images.githubusercontent.com/1335972/39675454-16d4e0de-5110-11e8-8343-f70eddb89059.png)
I fixed this in the 2.0 branch and added test coverage to watch for this in the future, let me know if the coverage still looks out of wack and I can

[2018-05-07 01:31] ryanluker commented on #121
going to close this issue for now as the 2.0.0 release will be out shortly. I can easily open it again if we still see new performance problems 👍 !

[2018-05-07 01:31] #121 closed

[2018-05-07 01:37] ryanluker opened #132 "Cleanup package.json extension attributes"
## Work:
- remove unused extension contributions (ie: altSFCompare)
- look at removing or defaulting some or most of the attributes based on usage

[2018-05-07 02:11] ryanluker commented on #131
@hunterjm closing this one for now but I did include eefce5d in the upcoming release (you can also find the .vsix file in the tag release if you want to see it early).

[2018-05-07 02:11] #131 closed

[2018-05-08 19:04] justfalter opened #133 "Unable to get coverage to display"
I can't get coverage-gutters to render the gutters. After having done some tracing, I think the issue is in/around renderer.findIntersect(), as it always return "".

Information about my setup:
- VS Code: 1.23.0 (OSX 10.13.4)
- Coverage Gutters: 2.0.0
- python: 2.7.14
- python coverage: 4.5.1
- pytest: 3.5.1
- pytest-cov: 2.5.1
- I'm generating cov.xml via `pytest --cov=myprojectname --cov-report=

[2018-05-08 19:11] justfalter commented on #133
And, FWIW, everything works fine when after downgrading to version 1.3.1.

[2018-05-08 19:34] ryanluker commented on #133
@justfalter ahh yes the new intersect / scoring system was added in 2.0 so that is definitely it. The bad part with this is I didnt want just names of files to match the editorFile so I added the requirement to have atleast one folder level in the filename. You can see an example of that in https://github.com/ryanluker/vscode-coverage-gutters/blob/master/example/python/cov.xml#L55 .

Are you able

[2018-05-08 19:35] ryanluker commented on #133
@spodym might be able to weigh in, as well, on generating cov.xml with more precision.

[2018-05-08 20:11] justfalter commented on #133
@ryanluker I don't see a straightforward way to increase precision. I can point the coverage tool at the root of my repository, but it doesn't allow me to see the coverage analysis for files in that root (for example: https://github.com/ryanluker/vscode-coverage-gutters/blob/master/example/python/cov.xml#L11 ).

As you can see in the source for coverage XML (line 148: https://bitbucket.org/ned/cov

[2018-05-08 20:26] spodym commented on #133
@ryanluker I have a question. Is there use case when user will be using one coverage file in multiple workspaces? I have intuition that coverage file should be bounded to workspace it was found in.

[2018-05-08 20:27] justfalter commented on #133
If you take into account the <sources>, following the suggestion I made, you wouldn't have to care about who generated the XML.
I would bet that most people are only going to have a single source directory in their coverage XML.
See https://github.com/ryanluker/vscode-coverage-gutters/blob/master/example/python/cov.xml#L5-L7

[2018-05-09 00:33] ryanluker commented on #133
@spodym part of the 2.0 refactor is that it consumes converge from everywhere in order to efficiently cache the results for later use. This extremely simplified the process of consuming lcov (.info or .xml) as the results could live together in one data structure (with copies of the same result for a file being merged, although that would be an extreme edge case).

[2018-05-09 00:45] ryanluker commented on #133
@justfalter @spodym regarding the sources in the xml file. my understanding is that the cobertura parser (https://github.com/vokal/cobertura-parse) is supposed to add these to the filename in each section for downstream consumers to utilize. you can see in the snippet below, of the cache I grabbed at runtime, the difference between the cobertura parse and the lcov parse (https://github.com/davglas

[2018-05-09 09:57] spodym commented on #133
@ryanluker You are correct.

This is from https://github.com/vokal/cobertura-parse

`lcov-parse` is taking it's `file` attribute from lcov's `SF` part (`SF:<absolute path to the source file>`)
[code]

The clean solution is to update `cobertura-parse` and extend paths to absolute paths. But I also see benefits of adding switch in this project for allowing less strict path matching.

Since I recentl

[2018-05-09 13:57] ryanluker commented on #133
@spodym sounds good, I am happy to remove the ### requirement as it won't be used very often anymore. I am thinking we will make a 2.0.1 release with these two changes, I should be able to release that tonight.

[2018-05-10 14:13] ryanluker commented on #133
@spodym sounds good thanks!

[2018-05-29 17:12] ryanluker commented on #133
@spodym I see that the commit was merged into master but no npm release yet? I can install the module from the git commit hash instead if the maintainer is being slow :package: .

[2018-05-29 17:13] ryanluker opened #134 "Add metrics to log path correctness"
related issue: #133

[2018-05-29 18:26] spodym commented on #133
@ryanluker Lets do it this way. I hope it will work properly :)

[2018-06-06 22:52] supersonicclay commented on #133
Perhaps related. I'm getting coverage gutters on my test classes (which I don't expect to be there). I place my source files in `src/.../myfile.js` and my tests are under `src/__tests__/.../myfile.js`.

If I rename my test file from `src/__tests__/.../myfile.js` to `src/__tests__/.../myfile.test.js`, then the coverage is removed (which is what I expect).

Is there a way to get it to only consider

[2018-06-07 04:38] ryanluker commented on #133
@supersonicclay yes that looks similar, the next release should help with this. Are you using xml or regular lcov by the way?

[2018-06-07 18:28] supersonicclay commented on #133
I'm using the default config. I have the following files in a `./coverage` folder at the root of my workspace. I'm guessing it is pulling in `./coverage/lcov.info`.

* clover.xml
* coverage-final.json
* lcov-report
* lcov.info

[2018-06-08 05:34] ryanluker commented on #133
@supersonicclay hmm odd, when I do the next release QA I will see if I get similar results locally thanks for the extra info!

[2018-06-10 14:51] ryanluker opened #135 "Update example node project dependencies"
update ```/vscode-coverage-gutters/tree/master/example/node``` dependencies

[2018-06-10 14:51] ryanluker opened #136 "Update changelog md file"
Take missing github release texts and put into changelog md

[2018-06-11 01:44] ryanluker opened #137 "Cleanup function parameters and possible undefined"
Based on error reporting version 2.0.0 has had a few crashes in these two functions, mostly undefined errors.

Check intersection being undefined before using reverse
https://github.com/ryanluker/vscode-coverage-gutters/blob/5eee5f7afd1e6b2b5e0805c96691f97981330246/src/renderer.ts#L125-L142

Check filename / name being undefined before manipulating
https://github.com/ryanluker/vscode-coverage-gutt

[2018-06-29 08:06] swissspidy opened #140 "TypeError when trying to display coverage report"
Hey there

I'm running into an issue when trying to use version 2 of this extension with VSCode 1.24 and a coverage report from a PHP project.

I used PHPUnit to create a coverage report in XML (Clover) and set `coverage-gutters.xmlname` accordingly in the settings.

When I now want to display the coverage, I get the following output:

[code]

Happy to provide access to a sample repo / XML file if

[2018-06-29 15:50] ryanluker commented on #140
@swissspidy thanks for submitting an issue. I will take a look this weekend at adding a small example php project to the `examples/` folder and see if I can reproduce it.

[2018-06-29 17:52] swissspidy commented on #140
Awesome, thank you very much! Again, let me know if I can assist with anything.

[2018-06-30 19:46] #135 closed

[2018-06-30 22:30] ryanluker commented on #140
@swissspidy I got a bit further but couldnt figure out how to generate lcov type xml coverage from phpunit? checkout this PR I am working on to see what where I got to https://github.com/ryanluker/vscode-coverage-gutters/pull/141. maybe you could assist in figuring out how to generate something similar to https://github.com/ryanluker/vscode-coverage-gutters/blob/master/example/python/cov.xml as cu

[2018-07-01 19:42] #136 closed

[2018-07-01 20:14] #134 closed

[2018-07-01 20:16] ryanluker commented on #133
2.0.1 release is going out shortly and will have the improvements to the upstream xml parser included! thanks again for submitting the ticket.

[2018-07-01 20:16] #133 closed

[2018-07-01 20:17] ryanluker commented on #133
@supersonicclay FYI this issue here is semi related to clover.xml #140

[2018-07-02 23:45] ryanluker opened #143 "Add ignored areas to the glob find to improve performance"
## Issue:
- currently the file loader is very slow when being used outside npm projects
- take the top languages for the extension and use their package management folders as a "sane" default.
  - `node_modules, venv, vendors`
- use these sane defaults in an extension setting to be used in the glob find https://github.com/ryanluker/vscode-coverage-gutters/blob/master/src/filesloader.ts#L83-L98

[2018-07-02 23:47] ryanluker opened #144 "Properly handle parsing errors related to correctness score"
## Issue:
- add stacktrace information if none present to help with debugging errors
- add try catch protection to newly added
[code]
https://github.com/ryanluker/vscode-coverage-gutters/blob/master/src/renderer.ts#L127

[2018-07-03 03:56] pedroresende commented on #140
@ryanluker I don't think it's possible, because phpunit xml is based on junit. @sebastianbergmann is there another way ?

[2018-07-03 06:54] swissspidy commented on #140
Ah I see, those are quite different.

I guess it's easiest if this format could be converted to lcov. For this I just found https://www.npmjs.com/package/@cvrg-report/clover-json. The code itself looks rather straightforward: https://github.com/cvrg-report/clover-json/blob/ff11325f0543eb4e50c276ee0424365944ee980f/src/index.js

This could fit into `LcovParser`. Basically:

* If file contains `<?xml

[2018-07-03 18:16] #137 closed

[2018-07-04 01:17] ryanluker commented on #140
@swissspidy yes that approach sounds like it should work, I will take a first stab at implementing something this weekend in the branch I mentioned earlier. @pedroresende thanks for the extra info around phpunit xml option being junit, I think having the clover option should be enough for php developers.

[2018-07-16 16:49] coumarc9 commented on #121
I have the same issue with VSCode 1.25.1 Win10. My `lcov.info` (root of solution) is not in the menu. All my settings are default

[2018-07-18 05:17] ryanluker commented on #121
@coumarc9 the file picker or menu is only used by the html coverage report viewing since 2.0.0, is that the feature you are having an issue with? If so please make another ticket for that so we can properly track it 👍

[2018-07-19 11:38] AlCalzone opened #147 "Add the option to not show coverage gutters when the exactness score is too low"
In my project I store the test files (\*.test.ts) side-by-side with the files to be tested (\*.ts). Naturally, the test files don't have any coverage associated with them.

However, when opening them, coverage-gutters tries to find the best match and selects a completely unrelated coverage to display:
![coverage](https://user-images.githubusercontent.com/17641229/42939799-6a5fe38a-8b57-11e8-860e-b

[2018-07-20 16:01] coumarc9 commented on #121
@ryanluker It's okay. Thanks for your answer

[2018-07-21 20:18] ryanluker commented on #147
@AlCalzone Thanks for the issue, I am looking into this issue this weekend. I am planning to either make a feature to not render coverage if less then a certain score or remove the scoring feature and go back to relative path determination for coverage showing.

[2018-07-21 20:22] ryanluker opened #148 "Bring back relative path comparison for coverage display"
## Work:
- [x] remove score based logic on whether to display coverage
- [x] add relative path comparison for coverage display

[2018-07-24 11:47] sjworkuid opened #149 "Set path to coverage/lcov.info file"
My nyc/istanbul code coverage run puts the lcov.info file in a sub-dir called 'coverage'.  How do I tell the extension to look there?

[2018-07-25 04:20] salagadoola commented on #149
By default the 'coverage' directory is included (node_modules is the only directory being excluded).

Try open "Command Palette" > Choose "Coverage Gutters: Display Coverage" to see if coverage shows up. (By default the coverage is not displayed after extension installation. Took me some time to figure it out.)

[2018-07-25 04:38] ryanluker commented on #149
hey thanks for creating an issue, @salagadoola is correct currently the glob find looks everywhere, in the project folder, for the name of the coverage file you specify in your settings (defaults to lcov.info). If you are still having trouble getting it working, take a look at the debug logs in the output tab for more information.
![temp](https://user-images.githubusercontent.com/1335972/43179865-

[2018-07-25 09:49] Licen-it opened #150 "Error Failed to parse string"
I'm always getting this error when i try to use the extension. I tried adding the watch on `lcov.info` and `cobertura-coverage.xml`, but the error is the same and nothing get displayed on the source code.

Here is the screenshot of the extension output:
![image](https://user-images.githubusercontent.com/35496522/43193643-71ba00e8-8ff8-11e8-8dbb-79be669228e9.png)

[2018-07-26 12:42] AlCalzone opened #151 "Is it possible to display coverage percentage next to files in the file explorer?"
When opening a coverage report, e.g. from `nyc`, I first get an overview of coverage for files and folders. It would be nice to see this percentage next to the files in the file explorer (if that is even possible).

[2018-07-27 01:19] ryanluker commented on #150
@Licen-it thanks for submitting an issue! this is related to the score logic that was added recently and should be fixed in the next version of the extension I am working on (2.1.0). In the meantime you could try just loading lcov.info to see if that will help you til next release.

[2018-07-27 01:34] ryanluker commented on #151
@AlCalzone thanks for submitting an issue. Other then the make your own tree view apis (https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-view-sample) I do not know of a way to add to the existing file explorer, myself but I will ask the vscode dev slack group and see if anyone knows more :smile: .

[2018-07-27 15:13] ryanluker commented on #151
@AlCalzone looked a little further and got some feedback from the slack channel, https://github.com/Microsoft/vscode/issues/54938 it is coming eventually so in the future something like the could be added :smile:

[2018-07-27 15:15] ryanluker commented on #150
@Licen-it hmm the only other thing i would try before 2.1.0 would be to open the example workspace project here in this repo and see if the coverage shows up for you or not.

[2018-07-29 17:52] ryanluker commented on #144
removed with new find section logic #152

[2018-07-29 17:52] #144 closed

[2018-07-29 17:53] ryanluker commented on #147
@AlCalzone removed the correctness with #152 in favour of relative pathing, this will be out in a release later today!

[2018-07-29 17:53] #147 closed

[2018-07-29 18:35] AlCalzone commented on #147
Great, looking forward to it. Thanks for resolving it so quickly

[2018-07-29 18:45] ryanluker commented on #140
@swissspidy #141 finally got the php side working, thanks for doing the research and the if else block! It ended up working perfectly https://github.com/ryanluker/vscode-coverage-gutters/pull/141/commits/50ea4fea491d9b69a8ee46143b6df1ab80d5ceb3#diff-3661d843d67f46cb9cfd476ad7e1920cR26 . I will release 2.1.0 this afternoon (pst) and will publish a release to github soon.

[2018-07-29 18:45] #140 closed

[2018-07-29 18:47] ryanluker commented on #150
@Licen-it 2.1.0 is being released this afternoon (pst) to the marketplace. let me know if this release doesn't fix your issue and we can reopen the ticket and do some more investigating.

[2018-07-29 18:48] #148 closed

[2018-07-29 18:55] ryanluker opened #153 "Revamp readme to create a smaller extension package"
## Work:
- [x] create a smaller gif features for readme
- [x] revamp readme to better promote language support
- [x] revamp features and update changelog
- [x] ignore promo_images from the vsce package

[2018-07-30 13:44] ryanluker commented on #150
@Licen-it ahh yes the plugin does not look outside the project / workspace folder when it does the collection phase https://github.com/ryanluker/vscode-coverage-gutters/blob/master/src/filesloader.ts#L86 this is mainly to prevent looking everywhere in your computer for coverage files but I could imagine a feature where you say where your coverage folder is located and it wouldnt use the glob find

[2018-07-30 15:10] Licen-it commented on #150
@ryanluker ok...but i was wondering why aren't you using the paths in the coverage files (i can see `lcov.info` for each file provides the full path while `cobertura-coverage.xml` provides the top level folder path and then relative paths to each file)

[2018-07-30 15:13] Licen-it commented on #150
Anyway i just checked putting the coverage file on top level folder and still not working...i'm still getting  the `Failed to parse string` error

[2018-08-02 09:08] zgoda-mobica opened #154 "XML Coverage file not found"
My test run produces xml output in the file `cov.xml` and places it in workspace folder but I keep getting this error:

[code]

Before I installed this extension the name of a file was `coverage.xml`. Got the above error, changed `"coverage-gutters.xmlname"` value to `coverage.xml`, reloaded VSCode and tried to add watch, same error. Changed name of coverage results file, removed config, reloaded

[2018-08-02 13:35] ryanluker commented on #150
@Licen-it the reasoning for not using the full paths in the cobertura one is that it has an `absPath` value that you send in to allow the parse to attach the absolute path when it returns you the coverage objects (https://github.com/ryanluker/vscode-coverage-gutters/commit/deee3d123769ea16c267d10e13290107dd8cbcfa#diff-3661d843d67f46cb9cfd476ad7e1920cR37). when you moved the coverage file (`cobertu

[2018-08-02 13:40] ryanluker commented on #154
@zgoda-mobica thanks for opening an issue. This is an interesting one, when you mentioned the second time around you `changed name of coverage file, removed config, reloaded IDE, enabled watch` did you also change the the value of xmlname to `cov.xml`? Good to see that it works now but definitely there is an issue here with the config loading (currently it caches the settings on load and then on s

[2018-08-02 13:40] Licen-it commented on #150
@ryanluker nope. I moved the `lcov.info` top level...but maybe it's because i have multiple projects in my workspace and each of them have an `lcov.info`

[2018-08-02 13:41] ryanluker commented on #149
closing this for now but we can reopen it if you are still having issues

[2018-08-02 13:41] #149 closed

[2018-08-02 13:45] ryanluker commented on #150
@Licen-it thanks for getting back so quickly. hmm well I will take a look at this with the `2.1.1` bug fix release, the only over thing you could do is make an example repo with the reproducible bug to assist me in figuring out the issue or you could also run the extension in development mode locally and debug your project to see where that failed to parse string is coming from 😄 https://code.visu

[2018-08-02 14:44] zgoda-mobica commented on #154
No, I just removed configuration entry in workspace settings to use default.

[2018-08-02 20:37] Shtsh opened #155 "Ver 2.1.0 is trying to display coverage for an incorrect file"
Update 2.0.1 -> 2.1.0 breaks plugin on the same python project and the same opened file (std2prom/plugins/baseplugin.py).

Project root is: /Users/shtsh/Work/np_scripts/std2prom/
File path is: /Users/shtsh/Work/np_scripts/std2prom/std2prom/plugins/baseplugin.py
Coverage file path: /Users/shtsh/Work/np_scripts/std2prom/coverage.xml
OS: macOS 10.13.6
VS Code version: both 1.26.0-insider and current

[2018-08-04 00:06] davidbrownell commented on #154
I am running into the same issue (without the part about things working after an uninstall/reinstall). In my case, I was able to root cause the problem to the glob expression on line 87 in fileLoader.js. If I change the expression from "**/${fileName} to "**${fileName}", things work as expected (no error message and I can see the coverage info displayed based on information in the file).

I don't

[2018-08-04 00:21] davidbrownell opened #156 "Coverage information applied to multiple files"
Using v2.1.0.

Coverage information is generated for one file in cov.xml file (in this case, the file is named ```Validate.py```). When I open ```Validate.py```, I see the correct coverage information displayed. However, opening some files that are siblings with ```Validate.py``` also display ```Validate.py's``` coverage information. Interestingly, some siblings don't display this coverage informa

[2018-08-04 05:23] VVatashi opened #157 "Correctly shows coverage only for the first file in a PHP project"
Hello, I have tried this extension to show the line coverage in my project. It looks like it works for the first PHP file in the project. But when I select any other file, unfortunately, it seems that it continues to show the coverage of the first file.
I have generated a code coverage file with the PHPUnit with the coverage-clover option.

- VS Code: 1.25.1
- Coverage Gutters: 2.1.0
- PHPUnit: 7.

[2018-08-04 16:45] #153 closed

[2018-08-04 21:58] ryanluker commented on #157
@VVatashi thanks for submitting an issue. I was not able to reproduce this locally :thinking: . I added some more files to the example project and then all rendered different coverages fine.
![screenshot from 2018-08-04 14-56-55](https://user-images.githubusercontent.com/1335972/43680777-cd5a3f7a-97f6-11e8-9869-a3f36d4bd1a4.png)

[2018-08-04 22:02] ryanluker commented on #156
@davidbrownell Thanks for submitting an issue. Hmm this is an interesting one, I will have to make a more complicated python example project in order to reproduce this one.

[2018-08-04 22:04] ryanluker commented on #155
@Shtsh thanks for submitting an issue. This looks similar to #156 so I will dig into both at the same time. For your coverage.xml file do you know if you used cobertura or clover xml for it?

[2018-08-04 22:06] ryanluker commented on #154
@davidbrownell thanks for the extra info, is the fix you mentioned also fixing the issue you raised #156 ? I will look into this bug for the 2.1.1 release anyways but any extra info helps :smile:

[2018-08-05 03:25] davidbrownell commented on #154
Thanks for taking a look, @ryanluker. Unfortunately, this work around doesn't fix #156.

[2018-08-05 04:45] VVatashi commented on #157
With my project, both as a folder and as a workspace, it seems that it not works properly.
But now I have cloned example project, added more classes and tests, and it works.
So, maybe something is wrong with my project... I will try to figure out what is difference.

[2018-08-05 18:30] ryanluker commented on #155
@Shtsh Figured out the issue with this one, when you have the root project name duplicated as a folder it causes issues with the naive string split I was using. In the meantime until I get a fix together you should be able to open the folder above your project and have it work fine.
![problem1](https://user-images.githubusercontent.com/1335972/43688714-dbe4b37a-98a2-11e8-8a46-758f9ac49ab4.PNG)

[2018-08-05 19:29] ryanluker commented on #154
@zgoda-mobica going to close this issue unless it comes up again with someone else, thanks for submitting it though!

[2018-08-05 19:29] #154 closed

[2018-08-05 19:31] ryanluker commented on #155
@Shtsh fixed this in #159 and going to merge and do a small bugfix release today or tomorrow sometime (2.1.1).

[2018-08-05 19:37] ryanluker commented on #157
@VVatashi this sounds related to #155 once the bugfix release (2.1.1) is out you should try again 😄

[2018-08-06 22:25] diegoveloper commented on #155
Great Job1 . Do you know when 2.1.1 will be released?  I can't see the Flutter coverage , it was working the last month.

[2018-08-06 23:51] ryanluker commented on #157
@VVatashi 2.1.1 has been released, going to close this ticket but we can reopen it if you found the issue isnt gone.

[2018-08-06 23:51] #157 closed

[2018-08-06 23:51] ryanluker commented on #155
@diegoveloper @Shtsh 2.1.1 has been released. we can reopen this ticket (or @diegoveloper  you can open a flutter specific issue if it still isn't working) if it is still an issue.

[2018-08-06 23:51] #155 closed

[2018-08-07 00:29] diegoveloper opened #160 "Coverage is not visible on VSCode - Flutter"
I was using this plugin months ago and It was working perfect, now I can't see the coverage of my code. Flutter - Dart.
I'm using the latest version v2.1.1
The coverage is generated under the folder /coverage/lcov.info

[2018-08-07 02:19] #156 closed, assigned to brandongk60

[2018-08-07 09:15] Licen-it commented on #150
@ryanluker so workspace is structured as follows:

[code]

[2018-08-09 17:28] Shtsh commented on #155
Thank you, works well for me

[2018-08-10 05:38] diegoveloper commented on #160
Log:

[1533851134427][coverageservice]: INITIALIZING
[1533879404563][coverageservice]: LOADING
[1533879408910][coverageservice]: Loading 1 file(s)
[1533879408922][coverageservice]: Caching 66 coverage(s)
[1533879408922][coverageservice]: READY
[1533879408922][coverageservice]: RENDERING
[1533879408937][coverageservice]: READY
[1533879415881][coverageservice]: RENDERING
[1533879415882][coverageserv

[2018-08-10 14:34] MoxyFruzy commented on #160
I have the same issue but with Javascript.

[2018-08-11 01:13] ryanluker commented on #160
@diegoveloper thanks for the issue and the extra information, I will hopefully get some free time to take a look at this in the near future. In the meantime (like @MoxyFruzy said) you can manually install one of the previous releases using the vsix isntall method https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix . Also if you are able to confirm that you can see the

[2018-08-13 04:50] diegoveloper commented on #160
Ok, looks like version 2.0.0 is working fine for me.  >= 2.0.1 not working at all.
info file attached
[lcov.info.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/2281773/lcov.info.zip)

[2018-08-13 22:34] sinapis opened #161 "Cannot load coverage file"
Using VS code 1.26 and coverage gutters 2.1.1

Coverage file is not loaded automatically, even though it resides in root and names Icov.info. When I execute preview coverage report - no files are shown.

![image](https://user-images.githubusercontent.com/15230040/44061578-a82ac86a-9f61-11e8-881c-4e4b53a34dcc.png)

Not sure if that's important but I'm using C# and generating the icov file using cov

[2018-08-14 19:11] kevcunnane commented on #160
+1 on this issue. Installing v2.0.0 as a workaround solved it. In my case the coverage files are under a ./coverage/lcov.info path relative to the project root. I'm also using a workspace (2 folders) rather than a simple single folder. I hope some of this helps in finding the root cause.

[2018-08-15 10:20] b3b00 opened #162 "coverage gutter hides breakpoints"
Hi,

First thanks for your great vscode extension. My only concern is that  when activated coverage gutters hides breakpoints (I am mainly using vscode for c# dev), which complicates the debug process.
Is it possible to workaround this ?

[2018-08-15 15:29] mulligan121 commented on #161
I'm also running into this issue. I use istanbul & nyc so my icov file is in a `coverage` directory. I've also tried moving it into the root directory and still get the same error.

[2018-08-15 20:11] ryanluker commented on #162
@b3b00 you can disable the gutters and add line based coverage to get around this issue. https://github.com/ryanluker/vscode-coverage-gutters#tips-and-tricks hopefully that helps!

[2018-08-16 03:37] ryanluker commented on #161
@sinapis Thanks for submitting an issue. I havent looked lately into the preview report functionality so I will have to take a look at that for the next bugfix release (2.1.2). In the meantime can you install [0] and see if version 2.0.x allows you to still use the preview functionality?

[0] https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2018-08-16 05:32] b3b00 commented on #162
thanks it helps.

[2018-08-16 05:32] #162 closed

[2018-08-20 17:52] kevcunnane commented on #160
An update: I believe the error is caused (for me) by stricter path checking implemented in [#159](https://github.com/ryanluker/vscode-coverage-gutters/commit/75847f855bf7024a99d55dce2bdb5fe9d135c605#diff-78060b682ecec44974ea9e5dde4a8310). What's happening:
- I use a plugin called istanbul-source-remap to map from JS to TS files
- It incorrectly uses the `out` directory as the root path so everythi

[2018-08-21 16:14] ryanluker commented on #160
@kevcunnane thanks for the extra info! The trade off between "just works" and works correctly was something that was troubling me with the 2.0 release. I also got quite a few tickets related to the naive relative comparison version that was in 2.0 ( #157 , #156 , #155 ).

The more I think about it, we almost need an absolute path option that people can set, in their settings conf, that would cause

[2018-08-22 10:47] foxpluto opened #163 "Incompatibility with Jacoco XML report"
Dear Ryanluker,

it seems that your plugin is incompatible with the XML created by Jacoco for Java Code Coverage.
Here is the error:

[code]

I attached the file for you.

Regards,
S.
[cov.xml.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/2309977/cov.xml.zip)

[2018-08-22 19:02] ryanluker commented on #163
@foxpluto thanks for submitting an issue! It is rather easy to add another parser https://github.com/ryanluker/vscode-coverage-gutters/commit/50ea4fea491d9b69a8ee46143b6df1ab80d5ceb3 as long as we can figure out the structure of the xml to use in the conditional logic flow. I see that you provided the xml as well so that will make this much easier :nerd_face:. I will take a look at this when I do

[2018-09-02 19:01] ryanluker opened #164 "Update vscode extension launch.json"
## Work:
- use latest launch.json
- 0.1.0 is deprecated and gives nasty warnings in vscode ^1.26 when you try to debug

[2018-09-06 18:57] mitchellsimoens opened #166 "Cannot click in gutter to add a breakpoint"
When I have the coverage shown (so lines and gutters are colored per lcov report), I cannot click in the gutter to add a breakpoint.

For example, in the follow screenshot, if I click on a line within the red block, no breakpoint will be added but if I click on a line without a red block a breakpoint is added:

![screen_shot_2018-09-06_at_2_54_52_pm](https://user-images.githubusercontent.com/32547

[2018-09-06 20:03] ryanluker commented on #166
@mitchellsimoens You can get the breakpoints back by following the tips and tricks section on how to use the line based coverage over the gutters https://github.com/ryanluker/vscode-coverage-gutters#tips-and-tricks. Hopefully that helps!

[2018-09-06 20:08] mitchellsimoens commented on #166
Oh right on, actually tried to disable the gutter but had to restart vscode to get that to take hold. Thanks for the extension!

[2018-09-06 20:08] #166 closed

[2018-09-09 19:39] ryanluker commented on #160
@kevcunnane @diegoveloper @MoxyFruzy Figured out a way to deal with the partial files inside the coverage parser (if you are curious https://github.com/ryanluker/vscode-coverage-gutters/pull/165/files#diff-dcbb46bda55c6e4bdd02baa111139b40R90) in the next release 2.2.0 this should be fixed!

[2018-09-09 19:47] ryanluker commented on #163
@foxpluto completed this in #165 and it should go out in the 2.2.0 release (~ a couple days or so).

[2018-09-09 19:47] #164 closed

[2018-09-09 19:47] #163 closed

[2018-09-09 19:49] ryanluker commented on #150
@Licen-it I have done some rework on the coverage parsing and this maybe fixed in the next release (2.2.0) once it is out let me know if this is still an issue!

[2018-09-09 21:10] foxpluto commented on #163
Wow!

That's great!

Thanks a lot.

Regards,
Stefano

Il Dom 9 Set 2018, 21:47 Ryan Luker <notifications@github.com> ha scritto:

[2018-09-17 17:05] diegoveloper commented on #160
I updated to 2.2.0, but it doesn't work :(

Log:

[1537203849570][coverageservice]: Loading 1 file(s)
[1537203849570][coverageservice]: Loading 1 file(s)
[1537203849576][coverageservice]: Caching 133 coverage(s)
[1537203849576][coverageservice]: READY
[1537203849576][coverageservice]: RENDERING
[1537203849578][coverageservice]: READY
[1537203849583][coverageservice]: Caching 133 coverage(s)
[15372

[2018-09-18 10:26] nverinaud commented on #161
Same here ! How can I help to resolve this ?

[2018-09-18 14:38] sinapis commented on #161
for me neither 1.3.0 or 2.0.1 worked.
any suggestions to make this work would be very welcome...

[2018-09-18 14:42] mulligan121 commented on #161
I found that 2.2.0 works fine on Mac, I couldn't get it to pick up the lcov file on Windows. I'm assuming it has something to do with the path to the lcov file.

[2018-09-18 14:51] sinapis commented on #161
I'm on windows so we get a consistent behavior

[2018-09-19 02:31] ryanluker commented on #161
Thanks for the extra info everyone. @nverinaud @sinapis and @mulligan121 and you try a few things for me and paste the resulting logs here?
1) checkout this repo and open the examples folder in vscode
2) turn on the coverage watch
3) open a source file or two from each of the language folders

You should all get something similar to this:
[code]
Hopefully we can get this worked out!

[2018-09-20 03:15] diegoveloper commented on #160
@ryanluker  Should I create a new issue?

[2018-09-20 03:40] ryanluker commented on #160
@diegoveloper I can re-open this one seeming it isn't fixed it. Can you run through the instructions here https://github.com/ryanluker/vscode-coverage-gutters/issues/161#issuecomment-422627177 and paste the results you get? I am thinking it isn't something related to dart specifically but it would help if I could get it to reliable fail so I may need to setup a basic dart project and generate some

[2018-09-20 04:00] diegoveloper commented on #160
**JAVA**

[1537415868167][coverageservice]: INITIALIZING
[1537415902878][coverageservice]: LOADING
[1537415902909][coverageservice]: Loading 4 file(s)
[1537415902956][lcovparser][convertPartialPathsToAbsolute]: Error: Found too many files with partial path __init__.py
[1537415903006][coverageservice]: Caching 11 coverage(s)
[1537415903006][coverageservice]: READY
[1537415903006][coverageservice]:

[2018-09-20 04:16] ryanluker commented on #160
@diegoveloper thanks looks like the example projects are working for you, I will have a look at setting up a simple dart flutter project and hopefully replicate your issue then include that in the next release 2.2.1 or 2.3.0

[2018-09-23 16:54] ryanluker commented on #160
@diegoveloper I couldn't reproduce the issue locally with a simple flutter project and using ```flutter test --coverage```.
Lets not give up yet though! Go through the steps below and paste the results for me:
1) run the extension in debug mode using the repository you cloned earlier [0a] [0b] and add a breakpoint at this file location (sectionFinder.ts: line 39).
2) in the debug vscode window (th

[2018-09-30 22:56] apaatsio commented on #160
I have the same problem and I'm seeing values like:

[code]

Coverage Gutters: 2.2.0
VSCode: 1.27.2
Flutter: 0.8.2
OS: Linux

[2018-10-01 14:53] Licen-it commented on #150
@ryanluker sorry for the long wait, i was able to check this just now, and i can still reproduce the issue

[2018-10-02 10:57] Tadaboody opened #167 "Add option to show only uncovered lines"
# Feature Request:
Usually I only care if a line is _uncovered_.
seeing all the green lines is more of a feel-good thing 😜, so I'd like the option to turn them off.

This will also let me leave the extension almost always watching while still having lots of places to add breakpoints while #95 is still a thing.

[2018-10-02 15:46] ryanluker commented on #167
https://github.com/ryanluker/vscode-coverage-gutters#tips-and-tricks you can do just that now via the settings, let me know if that helps!

[2018-10-02 18:45] Tadaboody commented on #167
My problem isn't putting breakpoints. I want the option to only view the red spots in the gutter - Only highlight the uncovered lines

[2018-10-03 01:56] ryanluker commented on #167
@Tadaboody ahh gotcha, you can do this by modifying the settings (and restarting VS Code afterwords) to have it just show uncovered in the gutter by setting the other coverage type's color to nothing. This disables the decorations (vscode's terminology for the colorations that show up on the line and in the gutter) for full and partial, leaving you with the uncovered.
https://github.com/ryanluker/

[2018-10-03 05:39] Tadaboody commented on #132
I don't think there should be an attribute for every keyboard shortcut.
If someone would want to disable or change a keyboard shortcut they'd do it through the keyboard shortcuts editor

[2018-10-03 05:43] Tadaboody opened #169 "Settings update only after vscode reload"
# Bug report:
- Change a setting - for example `coverage-gutters.showLineCoverage`
- Line coverage visibility will not change, even after unwatching/rewatching coverage
- Reload vscode using the `Reload window` command or restarting vscode
- Line coverage visibility is updated

Other extensions don't seem to have this problem, perhaps we can try and compare our  approach to other open source exten

[2018-10-03 05:45] Tadaboody opened #170 "Add issue template/ PR template"
# Feature request
As is, adding an issue/PR is accompanied with unneeded mental work.
Either use an existing template, or a brand new template that can be reused for other projects.
- [x] Issue Template
- [x] PR Template

[2018-10-03 09:01] Tadaboody commented on #167
I tried this. it work, if a bit cumbersome.

Some of the settings are described/named in a bit of a confusing way, and the combination of #132 and #169 make configuring not very user-friendly.

[2018-10-03 09:02] Tadaboody commented on #167
Actually looking at it again - I'm not sure your solution works

[2018-10-03 16:48] #143 closed

[2018-10-03 16:54] ryanluker commented on #169
@Tadaboody this is a known one but I havent got around to fixing it. Essentially we just need to not cache the configStore and instead have it pull everytime.
#20

[2018-10-03 16:57] ryanluker commented on #132
@Tadaboody when I did the original keyboard settings this was the only option, in the time since I guess they added nicer options for this! definitely should cleanup that as well then, thanks for the info.

[2018-10-05 08:20] mcauto commented on #161
Same here... on Mac version 1.3.1

[2018-10-05 15:30] ryanluker commented on #161
@mcauto version 1.3.1 is quite old can you try the latest version (2.2.0)?

[2018-10-06 05:11] mcauto commented on #161
@ryanluker
I installed it from vscode marketplace.

Before download
![image](https://user-images.githubusercontent.com/15080806/46567664-808cd200-c971-11e8-828a-7dddff37c35c.png)

After download
<img width="271" alt="after download" src="https://user-images.githubusercontent.com/15080806/46567671-94d0cf00-c971-11e8-97cb-34d16653adfa.png">

[2018-10-06 14:34] mulligan121 commented on #161
I finally found some free time to debug the issue I was having on my Windows machine. If you have symlinks in any directory when coverage gutters looks for the lcov file it will throw an EPERM error.

[code]

This is a really common issue when file crawling on Windows and I've ran into it with multiple node modules in the past. If I have time in the next few days I'll see if I can find a fix for t

[2018-10-06 21:27] ryanluker commented on #161
@mcauto I think microsoft keeps old builds of my extension and then gives you the one that best matches your vscode version (2.2.0 requires 1.27.x and up for example). Do you have the latest vscode version?

[2018-10-07 15:41] mcauto commented on #161
@ryanluker
My vscode version is 1.19.2
so I updated vscode 1.27.x version.
but occur same error.. `could not find a Coverage file.`

[2018-10-07 15:43] #132 closed

[2018-10-08 23:34] ryanluker commented on #161
@mcauto depending on the positioning of the coverage file (needs to be in the folder / workspace you have open) it will cause you to get this error. Can you look at the example project(s) and see if you can get the coverage to be picked up by using their folder structure? https://github.com/ryanluker/vscode-coverage-gutters/tree/master/example

[2018-10-10 13:00] koole opened #172 "Loading a clover xml breaks on classes without lines"
I was having an issue with clover xml files I generated with phpunit sometimes failing to load:

[code]

For me this happens on cases like this, where there's a class with no lines:

[code]

I think I've already found the issue and made a pull request at cvrg-report/clover-json#1 to fix my issue, but I still wanted to report it here in case anyone else using this plugin is having this same issue.

[2018-10-10 14:27] mcauto commented on #161
@ryanluker
I want to use coverage-gutters on [this project](https://github.com/woobia/woobia-note)
positioning of coverage file is this project root path.
What should I do? help me..

[2018-10-10 16:01] ryanluker commented on #172
@koole thanks for looking into this! if the repo maintainer doesn't get back to you in a couple weeks I would be willing to include your patch version in the extension instead (as long as you also add a small test as well to show that your fix works).

[2018-10-11 11:14] koole commented on #172
Will do! It might be smart to add an updated test to my pull request in the original repo anyway.

[2018-10-12 03:34] karn09 commented on #160
I opened a PR https://github.com/ryanluker/vscode-coverage-gutters/pull/173, as I was seeing similar issues and went down a bit of a rabbit hole. If anyone seeing this issue still could post a piece of their LCOV file, that could be super helpful as the path definition in there was the source of the issue for me.

Good `lcov.info` path =>
`SF:/home/ryanluker/dev/vscode-coverage-gutters/example/nod

[2018-10-16 20:06] samuel-barbosa opened #175 "Search for jacoco.xml file regardless of configured Xmlname value"
By default, the XML coverage file for Java projects using Jacoco plugin is jacoco.xml.
It'd be good if the Coverage-Gutters plugin could automatically recognize it with no need to change the Xmlname configuration

[2018-10-21 18:41] ryanluker commented on #170
@Tadaboody thanks for the reminder on this, got the issue one in and I will make a PR template shortly.

[2018-10-21 18:41] #170 closed

[2018-10-21 19:30] Tadaboody commented on #170
Assigning an issue to someone usually means they're the one that's supposed to resolve this. Are you expecting me to draft a template?

[2018-10-21 19:36] ryanluker commented on #170
@Tadaboody whoops meant to just mention you not assigned, I will add the pr template shortly.

[2018-10-21 19:46] ryanluker opened #178 "Allow manual coverage file(s) to be set in the extension settings"
## Functionality:
- add an extension setting that is an array of absolute file paths to be loaded for coverage purposes
- if this setting is set the extension will not "look" for coverage files as it is setup currently

## Resources:
https://github.com/ryanluker/vscode-coverage-gutters/issues/161#issuecomment-429580159

[2018-10-21 19:46] ryanluker commented on #161
@mcauto the next release (2.2.1) will have some improvements to the relative path detection and the conversion to absolute paths, once that is out let me know if the issue still exists.
@mulligan121 I am thinking a way to fix this would be to allow a manual coverage file(s) `settings.json` attribute that people could set instead of the automatic one. I created a new feature ticket here for that #1

[2018-10-25 09:33] neufena opened #180 "Error: Cannot read property 'forEach' of undefined"
I receive these errors with default settings.  The PHP example works but not with my own code projects

[1540459847609][coverageservice]: INITIALIZING
[1540459872808][coverageservice]: LOADING
[1540459873247][coverageservice]: Loading 1 file(s)
[1540459874212][lcovparser][clover-parse]: Error: Cannot read property 'forEach' of undefined
[1540459874212][lcovparser][clover-parse]: Stacktrace: TypeEr

[2018-10-25 20:02] ryanluker commented on #180
@neufena thanks for the issue, is what you are seeing similar to this ticket https://github.com/ryanluker/vscode-coverage-gutters/issues/172 ?

[2018-10-26 07:42] neufena commented on #180
Thanks,

This seems to be the same issue, I have over 500 classes in codebase that are empty (mainly exceptions just extend the base exception).  I'll monitor this for the upstream fix.

[2018-10-26 18:31] ryanluker commented on #180
going to close this one as a duplicate, thanks the extra info though!

[2018-10-26 18:31] #180 closed

[2018-10-26 18:33] ryanluker commented on #172
More examples of this upstream parsing error can be found here https://github.com/ryanluker/vscode-coverage-gutters/issues/180 provided by @neufena

[2018-10-26 21:12] koole commented on #172
I've mentioned the repo owner in a comment manually, as the repository itself has no watchers on GitHub anymore. I've also added a small test to my pull request.

[2018-10-28 17:41] #175 closed

[2018-10-28 17:59] ryanluker commented on #160
@diegoveloper @karn09 @apaatsio @kevcunnane @MoxyFruzy The next release (2.2.1) will be going out today, it will have improvements to the partial path resolution for all code languages and should solve this issue! I will close it for now but if new / similar issues appear I am more then happy to reopen this.

[2018-10-28 17:59] #160 closed

[2018-10-28 18:01] ryanluker commented on #172
@koole FYI, I am hoping to include this fix in the 2.3.0 release (weeks away) so we will either have to use the commit hash of your fork or hopefully just increment the module version if the maintainer gets to that npm release.

[2018-10-30 17:10] markf-hubdoc-com opened #182 "Coverage Gutters: Display Coverage with Watch off much slower than in previous versions"
**Describe the bug**
In my workspace in which "Coverage Gutters: Watch" is off, 9 editor tabs are open and 69 files have coverage data execution of the "Coverage Gutters: Display Coverage" command takes about 72 seconds before the Gutters are displayed.

In another of my workspaces with 2 open editor tabs and 19 covered files, it takes 11 seconds for Coverage Gutters to display.

Until recently th

[2018-10-31 00:15] ryanluker commented on #182
@markf-hubdoc-com this is because of a recent bug when we did some cleanup of the ignore globs (which is fixed in here setting https://github.com/ryanluker/vscode-coverage-gutters/commit/e52be98b633c64c402925dee8d50e90fb018813d). Can you try the vsix I attached to this comment to see if this fixes the speed issue (first uninstall the extension then use `>install ` from the command pallet)?

[vscod

[2018-10-31 15:00] jledentu commented on #182
Hi,

I have the same issue here. @ryanluker I tried the `.vsix` you attached, but it doesn't seem to fix the issue. I'll get a look into this if I find some time.

Thanks,

[2018-10-31 18:06] markf-hubdoc-com commented on #182
You're welcome, @ryanluker! Thanks for the explanation of what is going on. I uninstalled version 2.2.1 of then installed the above `.vsix` but did not observe any significant change in performance: 70 seconds to show gutters in my first workspace, 11 seconds in my seconds workspace.

I am more than happy to test out any other fix candidates - just let me know. Thanks for the amazing product!

(@j

[2018-10-31 21:33] tomchavakis commented on #161
Doesn't work at Windows, but works perfectly at Linux-Kubuntu 18.04.
The error is the same, can't load the lcov file.
I guess that it's something with the absolute paths of the lcov file.

Language: C# .Net Core
OS: Windows 10 x64
VSCode : Latest
Testing Framework: coverlet - https://github.com/tonerdo/coverlet
Coverage Gutters: 2.2.1

[2018-11-01 00:02] mulligan121 commented on #161
@ryanluker turns out it was an issue with the generated symlinks with the framework I was using. Windows classifies symlinks as either files, directories, or junctions (unlike unix based systems). The symlinks were being treated as files when they were actually directories, causing the issue with glob. We switched over to junctions instead and coverage gutters works fine on Windows for me now.

[2018-11-01 18:48] markf-hubdoc-com commented on #182
Downgrading to 2.2.0 and disabling Visual Studio Code auto-update of extensions allows me to work around this issue until fixed.

For those unaware of how to do this, in VS Code:
* execute Extensions: Disable Auto Updating Extensions via Command Palette,
* uninstall Coverage Gutters 2.2.1, then
* install Coverage Gutters 2.2.0:
  * download https://github.com/ryanluker/vscode-coverage-gutters/rele

[2018-11-03 18:28] SimonKagstrom opened #183 "Reset coverage in a file when the file is changed"
When changing the source code of a file, it would be nice if coverage for that particular file could be reset until it has been built and run again. Or perhaps marked with yellow to indicate that it is old data.

I understand that not all people like this behavior, so having it as an option would be good.

Going by file timestamp compared to the timestamp of the coverage file would be sufficient I

[2018-11-03 18:47] SimonKagstrom opened #184 "Look for cobertura.xml as a coverage source"
I work on a code coveage collector called [kcov](https://github.com/SimonKagstrom/kcov) which collects coverage for compiled languages, Python and Bash. kcov outputs data in (among other) the cobertura XML format, which you already support.

kcov *almost* works out of the box with the coverage gutters. I only have to do a symlink between cobertura.xml to cov.xml and it will automatically set thing

[2018-11-03 19:15] ryanluker commented on #184
@SimonKagstrom thanks for issue! In the 2.2.1 release there is a new extension attribute that lets you add more coverage file names https://github.com/ryanluker/vscode-coverage-gutters/blob/master/package.json#L131-L139 can you try adding yours there (then restart vscode) and see if that picks it up for you?

[2018-11-03 19:20] ryanluker commented on #183
@SimonKagstrom thanks for the issue. I could see there being a file watcher that would remove the coverage indicators from the file that was modified. The VSCode api's gives you quite a few hooks for these kinds of operations (see the current watchers [0] for an example and it should be easy to implement something like this as well).

[0] https://github.com/ryanluker/vscode-coverage-gutters/blob/m

[2018-11-03 19:41] ryanluker commented on #184
@SimonKagstrom excellent, also I am glad to hear the extension provides value to you!

[2018-11-03 19:41] #184 closed

[2018-11-03 19:46] ryanluker commented on #167
@Tadaboody just trying to flesh out this ticket a bit more and I am looking for some feedback on the approaches I will outline below.

I am thinking there will need to be new extension settings to handle turning off or on certain types of coverage (ie full, partial or none). Would you expect these to be granular per feature? For example turn off the full coverage for just the gutters or turn off f

[2018-11-04 18:36] ryanluker commented on #182
@jledentu @markf-hubdoc-com I think I figured out the issue https://github.com/ryanluker/vscode-coverage-gutters/commit/555e0d0c95257b2c05798793c4de3597b144520d and added a test https://github.com/ryanluker/vscode-coverage-gutters/commit/2d9142dbcb39f9f254f2e69dd27f7a30dfb8b140 as well to catch these kind of large codebase issues in the future. Can you guys try 2.2.2 attached to this comment?

[vs

[2018-11-05 09:53] tomchavakis commented on #161
@ryanluker all the example projects worked. I use coverlet and dotnet core for this project. I can produce a sample of lcov.info in case that helps.

[2018-11-05 13:33] jledentu commented on #182
@ryanluker I tested your attachment and I confirm that this solves my issue (I didn't measure the improvement, through, but it's now comfortable). Thanks a lot!

[2018-11-05 15:48] ryanluker commented on #161
@tomchavakis yes a sample lcov.info would assist in the debugging thanks.

[2018-11-05 20:00] ryanluker commented on #182
@jledentu @markf-hubdoc-com thanks a bunch for getting back to me with the good news. I will go ahead with making an official 2.2.2 release here in the near future when I find some free time.

[2018-11-05 20:20] markf-hubdoc-com commented on #182
You're most welcome, @jledentu. I'll be sure to test out the official release when you get that chance. Thanks!

[2018-11-06 00:03] cooldome opened #185 "Plugin gets too slow on 42kb lcov.info file"
**Describe the bug**
It takes 55 seconds on the top spec workstation to display green/red coverage ruler for small project with a single lcov.info file. lcov.info contains per line stats for 45 files in the project, total size is 42 kb.
It actually makes plugin unusable.
I have spend some time profiling and look like all time spent in lcov-parse npm plugin (https://github.com/davglass/lcov-parse).

[2018-11-06 09:08] SimonKagstrom commented on #185
I also experience this issue (over a minute before display), but with cobertura XML input. My input file is 128K big, and contains coverage info for 20 files. My project is fairly large though, with around 8000 files, but I think it should be fairly quick since the coverage is only collected for a very small part of it.

I've tried the 2.2.2 version mentioned in #182, but it doesn't help for me.

[2018-11-06 12:09] tomchavakis commented on #161
navigate to the test folder and generate the coverage file
dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:CoverletOutput=./lcov.info Example.csproj

After running again the command it is possible to view the coverage-gutters.

[2018-11-07 11:19] rvanmaanen commented on #161
@tomchavakis that will create a single lcov.info for each test project and coverage gutters won't merge it's coverage results (I think it shows the results of the last file it finds) so that needs to be done beforehand with coverlet.

The way this is done is by supplying these arguments: `"dotnet-test-explorer.testArguments": "--filter Category!=Integration /p:CollectCoverage=true \"/p:CoverletOut

[2018-11-07 11:46] tomchavakis commented on #161
@rvanmaanen thank you very much for the detailed answer. It is very useful to merge the lcov from different projects and the explanation was great !!!

[2018-11-07 12:00] Shelim commented on #161
I can't produce lcov file, my project is C++ and I use [OpenCppCoverage](https://github.com/OpenCppCoverage/OpenCppCoverage) which is able to produce cov.xml only...

[2018-11-07 18:31] cooldome commented on #185
Hi Ryanluker,

I have tried the version you have proposed, the time went down from 55 seconds to 47 seconds, but it is unusable at this performance. All my comments still apply, all time is spend lcov-parse. The same behavior, one CPU core is loaded 100‰ for 45 seconds at least

[2018-11-08 09:13] SimonKagstrom opened #186 "osx: Display not automatically updated when watch is activated and coverage file is a symlink"
I'm running on OSX, with a symlink to the coverage file in my workspace (Cobertura format).

Watching is turned on, but when I update the coverage file through re-running my unit tests, the update coverage is not shown in the gutter. If I select `Coverage gutters: Display coverage` it's updated correctly again.

OS: macos
Extension version: 2.2.1
VSCode version: 1.28

I also run the same project i

[2018-11-09 16:06] KaiserCoaster commented on #182
Figured I'd also share my results.
This is my first time trying to use the plugin, so I wasn't even sure if I set it up correctly or if this was normal, but it took 3min 45 sec (225s) to load 5 files with a 22kb lcov.
After installing 2.2.2, that's down to 2 seconds. (And only loaded 1 file?)
Thanks for the fix on that!

[2018-11-09 21:04] mtycholaz commented on #182
@ryanluker
This fix is better, but still not as good as the previous version. I work with a single 450kb+ lcov file for our project (3000+ unit tests). Takes about 2min 45 sec to update after a change.

[2018-11-12 19:48] ryanluker commented on #186
@SimonKagstrom thanks for submitting an issue, I use the vscode extension api file watchers [0] so we would have to investigate if those detect sim link file changes or not :thinking: .

**[0]** https://code.visualstudio.com/docs/extensionAPI/vscode-api#FileSystemWatcher

[2018-11-12 19:58] ryanluker commented on #161
@tomchavakis were you able to get the coverage to show after using @rvanmaanen 's detailed example? @Shelim the extension will look for a few default coverage file names and should be able to pick up cov.xml, you can change the names it looks for by setting a different array string here https://github.com/ryanluker/vscode-coverage-gutters/blob/master/package.json#L127.

[2018-11-12 20:03] ryanluker commented on #182
Going to close this issue as it was related to the glob file path ignore issue and a fix will go out with the official 2.2.2 release shortly.

@mtycholaz and others with large lcov files that still have issues can track https://github.com/ryanluker/vscode-coverage-gutters/issues/185 instead.

[2018-11-12 20:03] #182 closed

[2018-11-12 20:12] ryanluker commented on #185
@cooldome @SimonKagstrom @mtycholaz I have a new version of 2.2.2 attached below that has some performance improvements hopefully. Can you guys test it and see how it looks?

[vscode-coverage-gutters-2.2.2.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/2573457/vscode-coverage-gutters-2.2.2.zip)

[2018-11-13 07:59] Shelim commented on #161
@ryanluker I've already tried that... It would be better if I could specify the path inside project to the directory containing cov.xml ; If this matter, I have multi-root workspace in VS Code

[2018-11-13 09:57] SimonKagstrom commented on #186
If there is an API to dereference symlinks to find the real path, I think the watch should be set there instead.

The reason I use this is because of #184, where I simply symlink `cobertura.xml` -> `cov.xml`.

[2018-11-13 10:05] SimonKagstrom commented on #185
I'm not sure, there might have been an improvement with the latest version, but it still takes around a minute for me (with only cobertura files generated).

[2018-11-13 11:46] tomchavakis commented on #161
@ryanluker the @rvanmaanen answer was really helpful. When I ran again the coverlet command in order to generate the lcov file I get the coverage display from VS Code. So the issue has been resolved from my end.

[2018-11-13 15:08] ryanluker commented on #161
@Shelim that makes sense I have a ticket open to track that feature https://github.com/ryanluker/vscode-coverage-gutters/issues/178 already so I will close this ticket in the meantime as most of the other issues have been solved in here.

[2018-11-13 15:08] #161 closed

[2018-11-13 15:19] ryanluker commented on #150
@Licen-it with the latest release (2.2.2) can you try to run the watch command on your project workspace again and paste the output from the gutters console tab like you did in the original ticket?

[2018-11-13 20:54] cooldome commented on #185
Hi, I have tried new vscode-coverage-gutters-2.2.2.zip and I haven't noticed significant improvements in the performance. I did profiling again and noticed that CPU is a lot less loaded now but time spent still a lot.

I managed to trace down and fix the issue by changing one line in Coverageparser.js:
[code]
replaced with
[code]
It helps with recognising the absolute paths for windows.
With new v

[2018-11-13 21:22] erlloyd opened #188 "Gutters do not render, no error in logs"
**Describe the bug**
Gutters do not render

**To Reproduce**
Steps to reproduce the behaviour:
1. I run coverage report
2. Confirm lcov.info is present
3. In VSCode, I try 'Display Coverage' and 'Watch'
**Expected behaviour**
The coverage is shown in the gutters

**Screenshots**
![screenshot 2018-11-13 15 20 18](https://user-images.githubusercontent.com/2145299/48443728-b6cf2580-e757-11e8-98d3-042

[2018-11-14 04:49] Shelim commented on #178
Proposition: either allow filename(s) to be specified directly, or allow specifying director(ies) to be searched for coverage files (ignoring all non-specified), by default set as "." (root of workspace);

[2018-11-14 12:03] Licen-it commented on #150
@ryanluker here you are...i noticed it's taking longer before falling into the error

![image](https://user-images.githubusercontent.com/35496522/48481369-349d3a80-e805-11e8-9424-f1a2813141f6.png)

[2018-11-14 14:42] erlloyd commented on #188
Just an update with additional information, I've tried disabling all other extensions and have the same result.

[2018-11-14 15:19] erlloyd commented on #188
I've also reproduced this on multiple machines, so it is not specific to a single machine's configuration

[2018-11-14 18:11] cooldome commented on #188
Check that you have absolute file paths in the lcov.info file

[2018-11-18 18:27] ryanluker opened #189 "Add azure CI support for all three operating systems"
## Work:
- remove travis and appveyor integrations
- add azure pipelines
- https://code.visualstudio.com/docs/extensions/testing-extensions#_azure-pipelines

[2018-11-18 19:08] #189 closed

[2018-11-18 19:30] ryanluker commented on #178
@Shelim this is what the current extension setting does https://github.com/ryanluker/vscode-coverage-gutters/blob/master/package.json#L127-L135 when you add more file names it looks for these in each workspace you have open (vscode lets you have multiple workspaces open now).

This ticket would provide a simpler system where you give an array of absolute file paths that would be used instead of th

[2018-11-18 19:56] ryanluker commented on #150
@Licen-it thanks for the further info, we are getting closer. Can you install the (in development) 2.3.0 version of the extension below and paste the results from that?
[vscode-coverage-gutters-2.3.0.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/2593166/vscode-coverage-gutters-2.3.0.zip)

[2018-11-18 19:59] ryanluker commented on #188
@erlloyd thanks for submitting an issue. As @cooldome mentioned the extension does perform better if you have the coverage as absolutes but the extension will try to take relative and create absolute from that as well. Can you install the in development 2.3.0 version below and run the display / watch command and paste the results (it should display the cached coverage so that we can better debug y

[2018-11-19 09:57] Licen-it commented on #150
@ryanluker same output:
![image](https://user-images.githubusercontent.com/35496522/48699524-8ff27280-ebe1-11e8-92a1-3e5356028bb7.png)

[2018-11-20 07:47] SimonKagstrom commented on #186
Yes, that works. Am I supposed to edit the package.json file directly or is there some better way of configuring this?

[2018-11-20 19:48] Shelim commented on #178
@ryanluker
If you know (by specifing in settings) that projectA will have coverage under `project/coverage` and projectB (in the same workspace) will have it under `additional/files/coverage`, why do we need to spend time searching through `dependencies/all/4gb/of/them`?

[2018-11-23 19:45] koole commented on #172
A new version has been released! 🎉

[2018-11-25 17:09] ryanluker commented on #172
@koole thanks for the reminder! this will be included in the 2.3.0 release https://github.com/ryanluker/vscode-coverage-gutters/commit/c9870a1154b1545da23eecb45ab7c1cd84bf3ead

[2018-11-25 17:09] #172 closed

[2018-11-25 17:19] ryanluker commented on #178
@Shelim so the current system only knows what your coverage files are named not where they live in your project (in terms of absolute paths). That is why this new feature is allowing developers to set the exact absolute file path locations of their coverage files (this will avoid the searching through dependencies). Currently you could add your dependencies folders to the `ignoredPathGlobs` https:

[2018-11-25 17:39] ryanluker commented on #150
@Licen-it thanks for the continual assistance on this one, looks like @DW8Reaper has a new fix that may also help with your issues. I will message again once I have a new 2.3.0 pre-release for you to try.

[2018-11-25 17:47] Shelim commented on #178
@ryanluker  What is the separator if I want to use more then one ignored Path?

[2018-11-25 17:52] ryanluker commented on #183
@SimonKagstrom I moved this issue into the 2.3.0 release but I had one question before I would start work on it. When you said "reset" the coverage for the file did you mean that the coverage for the whole file would be removed until reapplied?

[2018-11-25 17:55] ryanluker commented on #178
@Shelim these regex blobs can be tricky, what you want to do is add the folder names want ignored like so
```**/{node_modules,venv,vendor,dependencies,newfolderstoignore,etc}/**``` if you dont use node, python or php you can remove the first three and have something similar to this
```**/{dependencies,newfolderstoignore,etc}/**```

[2018-11-26 04:46] ryanluker commented on #150
@Licen-it the fix mentioned above has been added to the 2.3.0 release, I have include a pre-release version of that below for you to try when you have some free time. The fix will only work for lcov files currently but I plan to use the same fix @DW8Reaper applied but for the other coverage types as well.

[vscode-coverage-gutters-2.3.0.zip](https://github.com/ryanluker/vscode-coverage-gutters/fil

[2018-11-26 09:39] SimonKagstrom commented on #186
Thanks a lot for explaining via an example!

Anyway, the symlink is also useful when the coverage output is placed outside of the repo (which I guess is pretty common). I typically place the output in `/tmp/kcov`, and then a symlink would also be needed.

Anyway, I'll consider writing `cov.xml` from kcov as well, since it's nice to have it work out-of-the-box without having to configure anything.

[2018-11-26 09:42] SimonKagstrom commented on #183
For me it would be OK to remove it, but the best is perhaps to change the marks for edited lines to orange or something like that (or remove just that marker).

I've also seen that if you add a newline on a covered line, the new line is also considered as covered. It would be better to have it unmarked I think.

Thanks for looking into it!

[2018-11-26 13:03] SimonKagstrom commented on #185
I'm on UNIX (OSX and Linux), so I suppose this won't help in my case. Not sure how to do profiling like @cooldome did.

[2018-11-26 14:43] Licen-it commented on #150
@ryanluker with this version there is no error like the one in the console, the log stops at `Loaded 30 data file(s)` but no coverage appears in the files and removing the watch i'm getting this error message but still nothing in the output:
![image](https://user-images.githubusercontent.com/35496522/49021013-a3757e80-f189-11e8-8ceb-000b725e39f4.png)

[2018-11-26 16:02] DW8Reaper commented on #150
@Licen-it check if any of your coverage filenames in vscode settings are empty. I had an issue where I cleared the xml config path which ended up trying to read every file in my repo as a coverage file. I actually got an error message though so might not be the same issue (https://github.com/ryanluker/vscode-coverage-gutters/pull/192)

[2018-11-27 14:12] MisterJimson opened #193 "Preview HTML Report not allowing me to select file"
**Describe the bug**
I am trying to use the Preview Coverage Report feature. I select the command from the Command list and see "Choose a Coverage Report to preview". From this point I don't know how to select the file. I have tried clicking on it in VS code and typing the file name with and without the path included. No matter what I do I see the following in the logs.

[code]

**To Reproduce**
S

[2018-11-27 15:48] orsaz commented on #150
![image](https://user-images.githubusercontent.com/13506783/49093306-79e15380-f26c-11e8-850b-9e0ac5bef0e9.png)
I still get this error.
Does lcov.info and cov.xml files have to be empty or i need to write something there?

[2018-11-27 17:05] DW8Reaper commented on #150
Look better now the ```Loading 2 file(s)``` vs ```Loading 30 file(s)``` you had before. Now the fix I put in was only for lcov files not xml but @ryanluker was going to add it to the other types as well. If you have an lcov you can use perhaps put an invalid filename in to the xml field that way the file won't be found and won't load. This again is just a work around to try till the issue is fixed

[2018-11-28 11:18] Licen-it commented on #150
@DW8Reaper no i don't have any empty coverage filename in the settings

[2018-11-28 13:04] DW8Reaper commented on #150
Shucks, must be a different issue then was hoping it would be the same one I had.

[2018-11-28 14:55] krishnakumar3044 commented on #185
I see the same issue of very "slow"(more than a minute) with moderate project.

my cov.xml file size is below

---------------------------------------------------------------------
-rw-rw-r-- 1 user2 user2 **996297** Nov 27 23:13 cov.xml
---------------------------------------------------------------------

[2018-11-28 15:09] krishnakumar3044 opened #194 ""Count" for each line invoked/executed ?"
When I use this plug-in, I see the red/blue colors of code coverage. Is it possible to display the "number of  times" each line is invoked/executed as part of code coverage ?

Example in html format.

src/MyCode.cpp |   |   | 26.9 % | **7 / 26** | 11.5 % | 3 / 26
-- | -- | -- | -- | -- | -- | --
 

[2018-11-29 05:51] Shelim commented on #178
@ryanluker
Thanks, I'll give it a try! :+1:

[2018-12-01 19:47] krishnakumar3044 commented on #193
I am having the same issue.

[2018-12-02 18:38] ryanluker commented on #193
@MisterJimson thanks for submitting an issue and @krishnakumar3044 for giving further info. Coverage report runs only via the html files that are generated by some lcov coverage tools. I have attached a screenshare below of me loading a node coverage report from the example project.

Depending on which language and the features of its lcov generation tool you may or may not get something similar t

[2018-12-02 18:51] ryanluker commented on #194
@krishnakumar3044 Thanks for the submitting an issue. Most coverage formats do give extract information around how many times something was traversed but the most basic information that all give is simple which lines have coverage or not. The best I could standardise on (that I could see at least) was the following data structure.

https://github.com/ryanluker/vscode-coverage-gutters/blob/master/%

[2018-12-02 19:00] ryanluker commented on #185
@krishnakumar3044 @SimonKagstrom do your coverage files have absolute paths or relative? In the newer versions of the extension (2.2.0 and up) it tries to convert the relative to absolute to make it easier later to match a coverage to a file that is opened in the editor (I chose this over resolving relative -> absolute every file open as that would produce a worse user experience in my mind).

[2018-12-02 20:19] ryanluker commented on #186
@SimonKagstrom with the new upcoming option to pick file paths (to individual coverage files) I am going to close this ticket. Thanks for bringing it up though!

[2018-12-02 20:19] #186 closed

[2018-12-02 20:20] ryanluker commented on #188
@erlloyd going to close this ticket for now but if you can reproduce the issue with the pre-release above I would be happy to open it again.

[2018-12-02 20:20] #188 closed

[2018-12-03 09:56] SimonKagstrom commented on #185
@ryanluker Unfortunately, I see no particular improvement with 2.3.0, it's still in the order of minutes here.

[2018-12-05 12:08] Licen-it commented on #150
@ryanluker i'm getting the same error i mentioned in my comment above and still no gutters showing the code coverage.

![image](https://user-images.githubusercontent.com/35496522/49512632-79594600-f886-11e8-8c66-40a20735232e.png)

[2018-12-06 09:40] RoyalBingBong commented on #185
I feel like this also impacts the general performance of Code. E.g IntelliSense doesn't load until I force it to load via <kbd>Ctrl</kbd>+<kbd>Space</kbd>. Same for snippets auto completion.

It's all good again when the coverage is finally displayed.

[2018-12-09 17:02] ryanluker commented on #185
@RoyalBingBong the extension runs in an async style while loading the files to find their absolute path but yes this would impact the other vscode systems while this caching occurs.

After thinking about this some more, it might have been not the best idea to put the relative -> absolute caching at the very beginning of the extensions lifecycle (IE forcing the cache to have absolutes before anythi

[2018-12-09 17:03] #193 closed

[2018-12-09 17:39] ryanluker opened #198 "Cleanup skipped tests by using a mocking framework"
Related to #129 and #197

## Work
- [x] implement a mocking framework with good typescript support
- [x] use the mocking framework on the skipped tests (most have fake functions already setup and simply need to be injected via the mock

## Research
- https://stackoverflow.com/questions/48759035/mock-dependency-in-jest-with-typescript
- https://medium.com/@michal.m.stocki/when-it-comes-to-mocking-i

[2018-12-09 17:44] #129 closed

[2018-12-09 19:07] krishnakumar3044 commented on #193
I have html files in my directory, but I could not select the .html file. I am using C++ language. Here is the screenshot.

![image](https://user-images.githubusercontent.com/39171956/49701542-a9645a00-fba2-11e8-88a3-c149e58c24b1.png)

[2018-12-09 19:19] ryanluker opened #199 "Rework findReports to be more flexible in the coverage report location"
**Describe the bug**
- Coverage report find cant find reports outside a `coverage` folder
- Add custom report name as a settings.json that developers can update

**To Reproduce**
Steps to reproduce the behaviour:
1. move the report html file to the root of the project
2. try to load the report
3. see that the html file is not visible

**Additional context**
- https://github.com/ryanluker/vscode-co

[2018-12-09 19:19] ryanluker commented on #193
@krishnakumar3044 ahh it is because the `findReports` https://github.com/ryanluker/vscode-coverage-gutters/blob/master/src/coverage-system/coverage.ts#L53-L69
is looking for `coverage/**/index.html` I will add a bug #199 to the 2.3.1 release to make this more forgiving by using something like `**/index.html`. In the meantime if you move the index.html into a folder called coverage it will work.

[2018-12-09 19:19] ryanluker commented on #199
@krishnakumar3044 you can track the bug here.

[2018-12-09 19:47] ryanluker commented on #185
@RoyalBingBong @SimonKagstrom can you guys try the pre-release below but also paste the output from the gutters channel?
[vscode-coverage-gutters-2.3.0-prerelease.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/2660942/vscode-coverage-gutters-2.3.0-prerelease.zip)

![screenshot from 2018-12-09 11-45-52](https://user-images.githubusercontent.com/1335972/49701966-cc453d00-fba7-11e8-8

[2018-12-09 21:35] krishnakumar3044 commented on #193
Thanks for the update. Yes, if I move the index.html under <project-root>/coverage folder, it works. I look forward to the fix for this, as we use separate source and build directories and coverage data is nested inside build directory

[2018-12-10 00:11] krishnakumar3044 commented on #193
One more enhancement request is following:
If we can allow custom name , instead of fixed "index.html" file, that would be helpful too.
Ex: coverage_results_index.html

[2018-12-10 00:19] ryanluker commented on #193
@krishnakumar3044 thanks for the additional info I have updated #199

[2018-12-11 08:54] eduardor2k commented on #178
Hi, I'm running phpunit inside a docker container, it would be nice if we could add a path matcher:

    <coverage generated="1544025055">
      <project timestamp="1544025055">
        <package name="App\Core\Configuration">
          <file name="/var/www/src/myfile.php">

Docker -> Real path
/var/www/ -> /home/myusername/project1/

PhpStorm
![imagen](https://user-images.githubusercontent.com/318

[2018-12-11 09:35] eduardor2k opened #201 "Allow source file path match/equivalences in the coverage object"
Hi, I'm running phpunit inside a docker container, it would be nice if we could add a path matcher:

<coverage generated="1544025055">
      <project timestamp="1544025055">
        <package name="App\Core\Configuration">
          <file name="/var/www/src/myfile.php">

Docker -> Real path
/var/www/ -> /home/myusername/project1/

PhpStorm
![imagen](https://user-images.githubusercontent.com/318278/

[2018-12-16 17:13] ryanluker commented on #178
@eduardor2k We can discuss this new feature in #201, I dont think that work will get done with this ticket.

[2018-12-16 17:14] ryanluker commented on #201
@eduardor2k thanks for submitting an issue. This should be doable and it can simply be a step in the coverage cache flow where it checks the source file for the specified path (`/var/www`) and swaps it with whatever the developer defined. I have added this issue to the `2.4.0` release!

[2018-12-20 18:07] iansan5653 commented on #167
@Tadaboody I'm trying to implement your suggestion, but I have no idea what these settings do based on their hints? What's light and dark, and what is full, partial, and no highlight?
[code]

[2018-12-28 16:11] felipecaputo commented on #194
@ryanluker maybe makes like GitLens do, with an aditional info that show side by side of the source line

![image](https://user-images.githubusercontent.com/7751449/50520976-724edd80-0aaa-11e9-8fa9-427a08ce7ecc.png)

[2019-01-02 18:54] ryanluker commented on #194
@felipecaputo thanks for example, seems like a reasonable location for this extra info.

[2019-01-02 19:41] #169 closed

[2019-01-10 16:10] iansan5653 opened #203 "sectionFinder error thrown when trying to render"
When I click the "Watch" button, the extension runs until it outputs the following error message:
[code]
At this point, **all** extensions in VSCode stop working until I reload the program.

All of my settings for the extension are stylistic:
[code]

Here's my system info:
Version: 1.31.0-insider (user setup)
Commit: 344f4fa361e098b49aeace9602e89275fbbd17bf
Date: 2019-01-10T06:21:21.472Z
Electron:

[2019-01-20 18:04] ryanluker commented on #203
@iansan5653 thanks for submitting an issue! Sorry to hear about the issues you are encountering, the extension locking up your vscode is not the intention, heh. Lets try to diagnose the problem...
1) Are you able to checkout this project and display coverage for the example python project?
2) Can you provide the cov.xml and or a subsection so that we can see if there are any obvious errors?
3) Whi

[2019-01-25 14:09] iansan5653 commented on #167
@ryanluker Personally I think that making it granular per-feature would clutter the settings too much. Instead a simple checkbox for each coverage type would be great.

[2019-01-25 14:10] iansan5653 commented on #203
Actually, there is one improvement - it doesn't seem to lock up all the other extensions on failure now.

[2019-01-26 17:58] learn-more opened #204 "Error: Cannot read property 'forEach' of undefined"
**Describe the bug**
When trying to run this on my repo, the following error is shown:
[code]

**To Reproduce**
Attached is the coverage file, and a snapshot of the repo. (It is expected to move owner soon, hence the snapshot as attachment)
The coverage file is inside the zip, at `build/logs/clover.xml`.
[mattermost.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/2799317/mattermost

[2019-01-27 20:49] ryanluker commented on #204
@learn-more Thanks for submitting such a detailed bug ticket! When I get some more time to work on my OSS I will take a look at this issue.

Quick note: the `coverage-gutters.xmlname` configuration is only meant to be a filename not path but I believe this wouldn't effect the extension like you are seeing (having just `clover.xml` will still have the extension search for the coverage file within t

[2019-01-28 18:01] learn-more commented on #204
@ryanluker I am not 100% clear on what would be called a `workspace`, but I have opened the root folder of the repository using `File->Open Folder`.
The file `build/logs/clover.xml` does show up in the `Explorer` window in VS Code.

[2019-01-28 20:59] yampelo opened #205 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-coverage-gutters`
- Extension Version: `2.3.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.0-insider`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/yampelo/ryanluker.vscode-coverage-gutters-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Ex

[2019-01-28 21:00] yampelo commented on #205
[ryanluker.vscode-coverage-gutters-unresponsive.cpuprofile.txt](https://github.com/ryanluker/vscode-coverage-gutters/files/2804931/ryanluker.vscode-coverage-gutters-unresponsive.cpuprofile.txt)

[2019-02-04 16:34] ryanluker commented on #205
@yampelo thanks for submitting a ticket! I will add it to the investigation queue and take a look into some broader performance issues / improvements. I have a suspicsion that it is related to https://github.com/ryanluker/vscode-coverage-gutters/pull/200

[2019-02-04 16:36] ryanluker commented on #204
@learn-more thanks for the extra info, if it appears in the explorer then yes it will be in "workspace".

[2019-02-04 16:38] ryanluker commented on #150
@Licen-it sorry this must have slipped through the cracks... it is still an issue with the latest version of the extension? Also can you paste the output from the extension log as well?

[2019-02-04 16:39] ryanluker commented on #203
@iansan5653 thanks for the extra info, I will try to look into this within a week.

[2019-02-05 11:45] Licen-it commented on #150
@ryanluker same issues as before with version 2.3.0...the screenshots above are still valid (i'm getting the same errors/logs). So when i hit `Watch` having `lcov.info` selected it loads correctly as showed below, but no gutters showing the code coverage. When i hit `Remove Watch` the error message in the picture in my comment on Dec 5th appears.

![image](https://user-images.githubusercontent.com

[2019-02-05 19:34] felipecaputo opened #206 "Watch and Remove watch breaks when toggled by shortcut key"
**Describe the bug**
Using the keyboard to activate **Watch** and **Remove Watch** (Ctrl+Shift+8/9), if you press to any of the shortcuts it keeps changing the status bar button, but didn't change the real status.

**To Reproduce**
Steps to reproduce the behaviour:
1. Press Ctrl + shift + 8 to toggle Watch on
2. Press Ctrl + shift + 8 again
3. See error, the status bar toggle change it's text

**E

[2019-02-11 09:58] AlbertoBN opened #208 "Remove coverage via shortcut key broken"
**Describe the bug**
Pressing Ctrl+Shift+7 Displays coverage
Pressing Ctrl+Shift+0 Does not remove coverage

**Steps to reproduce:**
1. Go to covered file
2. Press Ctrl+Shift+7  - Coverage appears
3. Press Ctrl+Shift+0  - Coverage remains
4. Open command pallet. Select to remove coverage. Coverage is removed

**Expected behaviour**
When pressing Ctrl+Shift+0 coverage should be removed

**Desktop (

[2019-02-12 05:50] #206 closed

[2019-02-12 05:51] ryanluker commented on #206
@felipecaputo thanks for the PR this will go out with the 2.3.1 release (hopefully within a week, depends on how busy I am)

[2019-02-15 01:19] jmccarthy commented on #205
Sounds like the fix is under way, but just another data point: when I format my lcov.info with relative paths, the extension functions but is unusably slow (minutes to render each file). With absolute paths the rendering is sub-second. macOS / extension version 2.3.0

[2019-02-16 21:08] ryanluker commented on #208
@AlbertoBN thanks for submitting an issue! The shortcut display and remove seems to be working for myself (see picture and webm below) can you check your keybindings and make sure they are still set for the extension?
![screenshot from 2019-02-16 13-07-35](https://user-images.githubusercontent.com/1335972/52905208-ef195080-31eb-11e9-996e-a26e8cfd32e7.png)
[Screencast from 2019-02-16 01:06:55 PM.zi

[2019-02-17 18:01] ryanluker commented on #199
@krishnakumar3044 this work is done and will be in the 2.3.1 upcoming release. Once that release is out you will need to change the new setting `coverage-gutters.coverageReportFileName` to a custom name to match your local version.
Thanks again for submitting an issue and working with me to get this into the extension!

[2019-02-17 18:02] #199 closed

[2019-02-17 18:19] ryanluker commented on #204
@learn-more this appears to be an issue with the upstream package `clover-json`, I am going to open a ticket there to see if a fix can be applied but will move this out of the 2.3.1 release in the meantime.
It seemed to be caused by not having `package` defined in the xml output as an immediate child of project https://github.com/coverage-report/clover-json/blob/master/src/index.js#L11.

[2019-02-17 18:39] ryanluker commented on #205
@jmccarthy yes exactly, relative paths has been my #1 performance problem for this extension and I havent been able to find a good solution... You can see my last attempt here where I moved the relative file loading to be on the opening of a code file but even then it can really crawl on the bigger files as sometimes there is hundreds of files to get the absolute paths for [0].

0: https://github.

[2019-02-17 19:34] ryanluker commented on #203
@iansan5653 I started looking into this but couldnt find anything obviously wrong but one thing of note is that those errors (more like warnings in this case) are caused by the filename / path not resolving to an absolute value (https://gist.github.com/iansan5653/c6dc8b0d2a79249d9f2b87a8539a01ea#file-cov-xml-L45 vs https://github.com/ryanluker/vscode-coverage-gutters/blob/master/example/python/cov

[2019-02-19 17:53] bmccord commented on #199
You may also want to look for .htm files...reportgenerator creates .htm instead of .html.

[2019-02-19 21:18] ryanluker commented on #199
@bmccord hmm with the new `coverageReportFileName` setting users can pick the file name and extension they use for reporting :slightly_smiling_face: , hopefully that facilitates your needs once this goes live?

[2019-02-20 17:48] s-weigand commented on #203
Had the same problem and using:
[code]
did the trick for me.

[2019-02-22 14:03] gsemet commented on #203
Hi. pipenv user here. Same issue:
- `pipenv run py.test mymodule --cov-report xml:cov.xml --cov mymodule` where mymodule is in the name of the first level of module. Using "." is not possible since it finds `.venv` etc and so pytest is too long
- trick from @s-weigand does not work, eventhough I thing .venv should be removed indeed from the current folder.

For me should ignore something like:
[co

[2019-02-22 17:55] iansan5653 commented on #203
@ryanluker

Trying it after running `py.test --cov-report xml:cov.xml --cov` in the parent folder yielded the following logs:

[code]

They keep going like that for a while.

[2019-02-22 18:06] iansan5653 commented on #203
I am not using pipenv (or any virtual environments) by the way.

[2019-02-23 05:56] AlbertoBN commented on #208
Hi,
Just a quick update. The keybindings are correct.
I will check the log later today.
However what I did discover for now is that The binding for "remove watch" dies the trick. BTW I also checked this on a fresh install with fewer extensions and had the same problem. Will follow up with the log

[2019-02-23 05:57] AlbertoBN commented on #208
Interesting fact... I am using Omnisharp, .Net test explorer and Coverlet .net tool to produce the coverage

[2019-02-24 09:28] AlbertoBN commented on #208
So I checked the log and there was nothing different from yours.
[1550999660877][coverageservice]: READY
[1550999660877][coverageservice]: RENDERING
[1550999660878][renderer][section file path]:  <Removed original path due to NDA reasons>
[1550999660879][coverageservice]: READY

However!!!! apparently on Windows 10 with VSCode _ctrl+shift+0_ cannot be set or called... which is mind boggling . So I

[2019-02-24 09:30] AlbertoBN commented on #208
One final note... if watch is not set and _remove watch_ is selected then this little baby pops up

Which is harmless albeit annoying.

[2019-02-24 21:55] ryanluker commented on #204
@learn-more this is fixed in the upstream clover-json `0.3.0` release. I have pulled this version into master 1d96e001872e39652b3ca1ac570a07419ae35337 . This should get released to the marketplace in the next couple days!

[2019-02-24 21:55] #204 closed

[2019-02-24 22:10] ryanluker commented on #150
@Licen-it still looking into this one but I cannot reproduce it myself locally still, sadly. I have added additional logging here 4298597cba57e73cd22d3bf6aaf5edf6cea54a00 and it will be in the `2.3.1` release coming shortly. Hopefully in that new version we will get more insight where your error message is coming from.

[2019-02-24 22:10] ryanluker commented on #208
@AlbertoBN thanks for all the extra info! keybindings are my bane as I can never get exactly the right ones to please everyone / every operating system. I have added a fix to the `2.3.1` release for the harmless annoying error 4298597cba57e73cd22d3bf6aaf5edf6cea54a00.

[2019-02-24 22:11] #208 closed

[2019-02-24 22:19] ryanluker commented on #205
@jmccarthy @yampelo Moved this issue to the next release.

[2019-02-25 04:40] AlbertoBN commented on #208
On a final note .... 3 bugs caught with your visualization of coverage. So thank you!

[2019-02-25 15:03] RoyalBingBong commented on #205
I'm interested in this relative/absolute path thing. Most lcov docs I found mentioned that `SF` (source file) is the absolute path to the file. Even if it is relative, then there has to be a path it is relative to. My guess: they are relative to the lcov-file, which would make finding the absolute path to the file rather easy, probably something like:

`const absfilepath = path.join(path.dirname(l

[2019-02-25 19:59] learn-more commented on #204
Awesome, thanks!

[2019-02-27 16:27] Licen-it commented on #150
@ryanluker here is the exception log when i remove the watch:

[code]

[2019-03-14 16:49] streambinder opened #210 "Cannot read property 'filter' of undefined"
**Describe the bug**
Cannot parse `jacoco.xml` report:
[code]

**To Reproduce**
I actually just trigger coverage a `Display Coverage` command.

**Expected behaviour**
A correctly rendered coverage report.
Let me know if you need the XML report (I eventually need to clean it up from some business details).

**Desktop (please complete the following information):**
 - OS: Linux
 - Extension Version 2

[2019-03-15 09:38] streambinder commented on #210
This seems to get fixed updating `jacoco-parse` to `2.0.1`.

[2019-03-17 16:10] ryanluker commented on #210
@streambinder thanks for submitting a ticket! I have incremented the version on that dependency and all the java integration tests still pass, so we look good to go :+1: https://github.com/ryanluker/vscode-coverage-gutters/pull/211. I am not planning on releasing 2.4.0 for a while so I have included the vsix installer below that you can use in the meantime.
[vscode-coverage-gutters-2.4.0.zip](http

[2019-03-17 16:11] #210 closed

[2019-03-17 16:16] ryanluker commented on #205
@RoyalBingBong Yes exactly, the `SF` is suppose to work this way (and does in the lcov-parse) but the other implementations (jacoco, cobertura, etc) have had varying differences in how they create this attribute. I am still thinking of how best to solve this issue for the paths that "have" to be relative (these are the <1% of all coverage displays that people do making this issue hard to devote a

[2019-03-18 20:19] ryanluker opened #212 "Add webpack to the build pipeline"
## Work
- Integration webpack into the extension build flow
- Add applicable typescript bundling bits
- Add performance improvements as directed by the docs below
- https://code.visualstudio.com/api/working-with-extensions/bundling-extension
- https://code.visualstudio.com/api/working-with-extensions/bundling-extension#migrate-an-existing-extension
- https://docs.sentry.io/platforms/javascript/sou

[2019-03-19 14:14] alangordon opened #213 "Show file coverage in status bar"
I get a bit frustrated when I cannot easily see the coverage % of a specific file when that file is open in VS Code.

I would like an area beside the "Watch/Remove Watch" button in the status bar to show this. I'm not sure of any particular metric that would be best - but an option to have a few or either would be great. Lines, functions, branches etc

This is something I could work on if it is de

[2019-03-22 13:46] iansan5653 commented on #203
Any updates? I really miss this feature.

[2019-03-30 20:59] ryanluker commented on #203
@iansan5653 I am getting back into putting some more time into this project so I will investigate this a bit again today.
@s-weigand Sorry to hear you are having similar issues can you confirm the same 1, 2 and 3 in https://github.com/ryanluker/vscode-coverage-gutters/issues/203#issuecomment-455888360?

[2019-03-30 21:27] ryanluker commented on #203
@s-weigand @iansan5653 might have figured out how to fix this, please try out the vsix below and let me know how it works!

[vscode-coverage-gutters-2.4.0.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/3025983/vscode-coverage-gutters-2.4.0.zip)

[2019-03-30 21:37] ryanluker commented on #213
@alangordon thanks for submitting a feature request! This is kinda similar to https://github.com/ryanluker/vscode-coverage-gutters/issues/151 but we might need to wait until https://github.com/Microsoft/vscode/issues/54938 is done before we could do this in the folder system.
If we go with your idea, the trickiest part will be making the status bar remove / watch more dynamic so it can also show c

[2019-03-30 21:48] ryanluker commented on #150
@Licen-it it is odd you see the loaded data files message but nothing related to caching :thinking: see my local example run below.
[code]
This usually means that one of the parsers encountered an error or is very slow (can you try again but wait for a while to see if anything finishes?). Also I recently did some cleanup of the cobertura-parse (which you would use based on some of the previous pic

[2019-04-01 15:04] Licen-it commented on #150
@ryanluker after 2h still nothing after `Loaded 38 data file(s)`

[2019-04-04 15:40] ermshiperete commented on #150
Same for me. Gutters not showing. In the developer tools console I see the following exception:

[code]

[2019-04-04 15:44] ryanluker commented on #150
@Licen-it opps I should have given you a time range to wait for (2min was more my thinking, sorry!).
We might be getting closer with @ermshiperete comment (thanks for this!) showing the more extensive stack trace. I will continue looking into this over the weekend!

[2019-04-04 16:24] ermshiperete commented on #150
The PR fixes things at least in my case.

[2019-04-05 02:22] ryanluker commented on #150
@Licen-it can you try this new version below that includes @ermshiperete 's fix?
[vscode-coverage-gutters-2.4.0-apr4.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/3046101/vscode-coverage-gutters-2.4.0-apr4.zip)

[2019-04-07 15:54] ryanluker commented on #203
closing this as it will go out with the next release, thanks again for submitting an issue!

[2019-04-07 15:54] #203 closed

[2019-04-08 09:58] Licen-it commented on #150
@ryanluker this is working now. I have my coverage appearing finally. Thanks @ermshiperete for your PR. The only thing different from the video shown is that the gutters are appearing only at left side of row numbers and not in the code itself.

[2019-04-08 14:49] ryanluker commented on #150
@Licen-it sweet this one is finally fixed, thanks for running the (almost 8 month long) marathon with me :laughing: !
You can modify where the coverage is displayed by turning off and of some settings
[code]

[2019-04-08 14:49] #150 closed

[2019-04-09 15:22] jamesmyatt opened #216 "Remove from right-click menu"
**Is your feature request related to a problem? Please describe.**

I don't need quick access to coverage gutter commands. It doesn't need to be in the right click menu; it takes up too much space. The command palette and the status bar are sufficient.

**Describe the solution you'd like**

Option to remove context menu entries.

**Describe alternatives you've considered**

Alternative: Remove con

[2019-04-19 17:39] ryanluker commented on #216
@jamesmyatt thanks for the issue, in the past you could disable an item in the context menu by using something like:
[code]
Which would then remove the context command when the extension started up.
Trying this myself locally and I dont think this works anymore... the problem is there doesn't seem to be an approved way of doing this disabling from what I can see via the docs.
https://code.visualst

[2019-04-24 17:13] Serotonin7 commented on #210
The above fixed my issue! Found the following useful...
[How to install from vsix in Visual Studio Code]( https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix)

[2019-05-03 09:32] foxpluto opened #217 "Exception in parsing jacoco xml report"
**Describe the bug**
Exception thrown "Cannot read property 'filter' of undefined"

**To Reproduce**
Steps to reproduce the behaviour:
I am using vscode coverage with jacoco and I have found a bug parsing a jacoco xml report. I attach the file for further inspection.
The complete stack trace is:
[code]

**Expected behaviour**
The normal behaviour of the plugin

**Desktop (please complete the follo

[2019-05-06 14:36] CapsuleMaglev commented on #216
Hi @ryanluker! I agree that disabling it via settings.json would be great.
Are you planning to put it in the extension's settings? (I don't know if it is possible)

I find myself disabling the extension when I am not testing because it takes too much of the context menu.
Thanks!

[2019-05-12 15:55] ryanluker commented on #217
@foxpluto Thanks for submitting a bug! I probably wont be able to investigate this one until the `2.4.0` release is finished. One other thing you could maybe do is report this issue to https://github.com/vokal/jacoco-parse and see if they would be able to fix it on their end (if it truly is an issue on their side). Otherwise I should be able to start work on this in the next `2.4.1` release!

[2019-05-16 08:59] cj-williams opened #219 "Display popup during parsing of coverage info to indicate something is happening"
For smaller projects it's likely the displaying of the coverage info in VS Code is almost instantaneous, but for larger projects it isn't.
I'm currently using an XML coverage file and when I enable the coverage display in VS Code, it appears after approx 10 seconds. However during this time there is no feedback that the extension is busy.

For other extensions (ie. when building) , a small popup a

[2019-05-16 12:11] #219 closed

[2019-05-16 12:11] cj-williams commented on #219
Found issue already raised, deleting

[2019-05-26 22:26] #198 closed

[2019-05-26 22:26] #130 closed

[2019-05-29 05:06] lontivero opened #221 "No coverage in SUT files (only in test files)"
**Describe the bug**
The extension finds the `lcov.info` file and display the coverage but only in the test project and not in the SUT.

**To Reproduce**
Steps to reproduce the behaviour:
1. Generate a lcov.info file with AltCover
2. Check the `lcov.info` file is in the root of the solution folder
3. Press watch in VS status bar
4. Open an file (.cs) of the SUT project

**Expected behaviour**
It i

[2019-06-02 01:15] ryanluker commented on #221
@lontivero thanks for opening an issue.
I am not familiar with SUT project but I know that others have had success with `.cs` files (checkout this blog post maybe https://www.hanselman.com/blog/AutomaticUnitTestingInNETCorePlusCodeCoverageInVisualStudioCode.aspx).
It would also help be debug the issue if you could provide me with a small example bit of the `info.lcov` in question.

[2019-06-02 13:15] lontivero commented on #221
I've read the Hanselman blog and I know that `vscode-coverage-gutters` works with c# because I am using it in other project. The problem is that I started a new project for a proof of concept and it doesn't work as expected (and it does in the other project).

Below you have the `lcov.info` file. If I am correct and the file is okay then I don't understand with it shows me the coverage only in the

[2019-06-07 08:25] ergoithz opened #224 "Support python coverage"
The python tool `coverage` is much more common and mainstream than `pytest-cov` (which requires non-standard `pytest` runner) see both [pytest-cov stats](https://libraries.io/pypi/pytest-cov) and [coverage stats](https://libraries.io/pypi/coverage)

This means this plugin is not useful for projects not willing to use the non-standard `pytest`.

Please consider adding support for `coverage`.

[2019-06-09 15:43] ryanluker commented on #224
@ergoithz thanks for submitting an issue! do you know what coverage file type `coverage` outputs? depending on that it might already be supported :thinking:

[2019-06-09 15:57] ryanluker commented on #221
@lontivero thanks for the extra info! You are correct that the file looks correct so it must be something else. Can you run the project as you normally would and capture the debug logs from the instructions below?
1) Open the output area of vscode
2) Click the dropdown and select coverage-gutters
3) Run the watch or display some coverage on a file
4) Copy and paste the results here
![Screenshot-fr

[2019-06-09 15:59] ryanluker commented on #216
@CapsuleMaglev it looks like @wenbei999 might have a fix for this here https://github.com/ryanluker/vscode-coverage-gutters/pull/223 if so this will go into the 2.4.0 release :smiley:

[2019-06-09 16:12] #216 closed

[2019-06-09 16:35] #201 closed

[2019-06-09 16:36] ryanluker commented on #201
@eduardor2k This will go out in the `2.4.0` release which will hopefully happen in ~1-2 weeks

[2019-06-10 08:55] ergoithz commented on #224
Example file with line coverage:
[code]
Example file with branch coverage:
[code]

[2019-06-12 12:04] SimonKagstrom commented on #224
My project kcov, https://github.com/SimonKagstrom/kcov, supports collecting Python code coverage and outputting it in a format which coverage-gutters understands. I use it for C/C++ code, but since the output is the same regardless of language, I don't see why the Python support shouldn't work.

Caveat: kcov only runs on OSX/Linux/FreeBSD

[2019-06-12 15:58] ergoithz commented on #224
No branch coverage though.

[2019-06-19 03:52] lontivero commented on #221
@ryanluker in the json that I share below there is no coverage info for the first files.

<details><summary>coverageservice log</summary>

[code]
</details>

[2019-07-01 20:46] ryanluker opened #225 "Add CD to allow for easier extension releases"
### Issue
- Currently requires myself to bundle, package and publish a new build of the extension
- Adding a more mature CD pipeline will allow for more frequent and easier releases

### Work
- [x] Research github actions for vscode extensions (trigger point should be github artifact tag creation)
- [x] Add github actions for the CI part
- [x] @ryanluker to add github actions and create new vscode

[2019-07-01 21:38] ryanluker commented on #178
@mulligandev this feature will be releasing in the 2.4.0 version. You can find the PR here #226.
Thanks again for the original ticket / comment.

[2019-07-01 21:42] #178 closed

[2019-07-17 14:11] dgrahn opened #228 "Coverage Service Not Loading"
**Describe the bug**
Coverage service is not loading.

**To Reproduce**
1. Open VS Code
2. Press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>8</kbd>
3. View error log.

[code]

**Expected behaviour**
Coverage will load.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Extension Version: 2.4.0
 - VSCode Version: 1.32.1

**Additional context**
Using pytest-cov to generate `co

[2019-07-17 15:17] neoaisac opened #229 "Following the Jacoco example does not work"
**Describe the bug**
Following the example for Java here (https://github.com/ryanluker/vscode-coverage-gutters/tree/master/example/java) I have created a project that uses Maven to run Jacoco and then copy the output `jacoco.xml` into the root as `cov.xml` but it does not seem to work at all.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run Jacoco on your Java project.
2. Copy the file g

[2019-07-17 15:23] #229 closed

[2019-07-22 00:29] ryanluker commented on #228
@dgrahn Thanks for submitting an issue! Can you confirm that, if you checkout the example project and run the coverage https://github.com/ryanluker/vscode-coverage-gutters/tree/master/example/python, you get the same no coverage result?

[2019-07-22 00:32] ryanluker commented on #229
@neoaisac thanks for submitting an issue, did you figure out the problem?

[2019-07-22 00:41] ryanluker commented on #221
@lontivero Thanks for the extensive logging! based on the output I see what is wrong but not why,
you can see that only the `PoC.Tests` files are getting coverage information while each of the `PoC` have empty coverages for each file.

I will take a look at this with the 2.4.1 release to see if I can figure out why the lcov you pasted earlier (which looked to have proper coverage) doesn't have a c

[2019-07-22 00:59] ryanluker commented on #224
@ergoithz Looking at the coverage.py [0] it does seem doable to make another parser [1] (similar to the other ones created so far, `clover`, `cobertura`, etc). We would then consume the `.coverage` and transition the branch and line coverage to the lcov format that the extension understands.

I am not sure I would be able to get to it before the next major release (`3.0.0`) but if someone wants to

[2019-07-24 17:19] giovanicascaes commented on #188
Hello.

I'm having the same issue as described above. The paths on `lcov.info` are already absolute. I'm using extension's latest version (2.4.0). If needed I'll be glad to provide more info as much as I can.

[2019-08-07 12:31] jjuzna opened #231 "Large project loading problem"
**Bug description**
If you have large project it appears that extension stops responding after "Watch" is enabled. Coverage is not displayed, output show loading complete (sections are outputed and status is READY), computer uses a lot of resources (I/O). After a lot of time things start to work.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open vscode for large project (~10.000+ files)

[2019-08-11 15:20] ryanluker commented on #231
@jjuzna Thanks for submitting this bug and creating a pull request!
If you havent already there is a lot of performance discussion in this ticket https://github.com/ryanluker/vscode-coverage-gutters/issues/205 (most likely this will also solve that issue as it was relative file path related).

I do have a couple general high level questions though.
1) I am pretty sure what you are seeing I defined

[2019-08-12 09:29] jjuzna commented on #231
It looks like this is the same issue - if paths in lcov.info are absolute the globstar search is skipped and the matching is does instantaneously.

We have TS and JS mixture, so we are using [istanbul](https://www.npmjs.com/package/istanbul) & [remap-istanbul](https://www.npmjs.com/package/remap-istanbul) to produce coverage file (lcov.info). Resulting lcov.info file has relative path for TS files

[2019-08-18 17:14] ryanluker commented on #231
@jjuzna thanks again for submitting an issue and the pull request! This is fixed in master and will go out with the 2.4.1 release. If anyone else is eager to use these changes you can also install the vsix below.

[2019-08-18 17:14] #231 closed

[2019-08-18 17:15] ryanluker commented on #228
Closing this due to age but willing to open again if the issue persists!

[2019-08-18 17:24] ryanluker commented on #205
Closing this issue as it is most likely fixed in the #230 .
It can be reopened if we find the 2.4.1 release doesn't fix the issue, once that goes out.

[2019-08-18 17:24] #205 closed

[2019-08-21 12:04] dgrahn commented on #228
Ok. I apologize that this has languished.

I just downloaded that project. I see `foobar/.coverage` and `foobar/cov.xml`. Whenever I try loading the service, I get this message.

[code]

[2019-08-21 16:01] minifyre opened #232 "Show Line Number Coverage"
This extension is great, though until now, I've had the glyph margin disabled to free up a bit more space (e.g. `"editor.glyphMargin": false`), which unfortunately conflicts with the "Show Gutter Coverage" option & the "Show Line Coverage" is a bit too distracting for me.

Is it possible/preferable to add a "Show Line Number Coverage" setting that would apply the line coverage background colors to

[2019-08-23 11:30] lukebarton opened #233 "Vim extension insert mode prevents panes from updating"
**Describe the bug**
This seems to be some sort of conflict with the Vim extension and entering into insert mode.

Splitting test and implementation left and right, when you update a value inside a test case using insert mode, the gutter coverage in the implementation doesn't update. Switching to another document and back again in the implementation pane causes it to update.

**To Reproduce**
Step

[2019-08-23 15:57] dgrahn commented on #228
Is there a way to enable verbose logging?

[2019-08-25 16:05] ryanluker commented on #228
@dgrahn verbose logging is on my default and you should be seeing more information from the example project (see logs file below). I have also attached a video showing the example project in action (depending on where you opened it you might have issues with finding the coverage).
https://imgur.com/a/WUzzkKL
[code]

[2019-08-25 16:08] ryanluker commented on #217
@foxpluto pretty annoying but https://github.com/vokal/jacoco-parse has been deprecated / made read only. We might need to consider writing our own jacoco xml parser (similar to what we will have to do for the python coverage one here https://github.com/ryanluker/vscode-coverage-gutters/issues/224). I will put this into the `3.0.0` release with the python coverage support.

[2019-08-25 16:37] ryanluker commented on #232
@minifyre Based on my previous research there isn't a way for me to interact with the colouring of the line numbers sadly, through the vscode extension api. Best we could do is maybe a left hand border of the same colour (sadly this doesn't make space for itself so it overlaps).
![Screenshot from 2019-08-25 09-35-42](https://user-images.githubusercontent.com/1335972/63652989-ce423280-c71b-11e9-970

[2019-08-25 16:42] ryanluker commented on #233
@lukebarton Most likely this is due to how the vim extension edit mode triggers events that the extension listens too (or in your case doesn't listen too). If you exit edit mode does the coverage update then? What about if you save the file, after exiting edit mode, does the coverage update?

[2019-08-26 13:15] foxpluto commented on #217
Hi Ryan,

thanks for the update. This is a sad news.
In the meantime I have locked the Jacoco version to 0.7.9 which works.

Hope to have some news soon.

Regards,
Steafano

On 25/08/2019 18:08, Ryan Luker wrote:

[2019-08-28 07:55] omihalas opened #234 "Only loading one file from clover.xml"
Hello,
I think something is wrong cu this clover.xml
In this file there are many files but the extension keeps loading only the first file name that it finds. I do not know if this is normal.

[1566978546727][coverageservice]: INITIALIZING
[1566978565600][coverageservice]: LOADING
[1566978565809][coverageservice]: Loading 1 file(s)
[1566978565810][coverageservice]: Loaded 1 data file(s)
[156697856

[2019-09-02 15:36] ryanluker commented on #232
@minifyre didn't learn anything new from the developer channel, I think a good fix for this would be to add some code lens type decorators (there was a discussion for that feature here https://github.com/ryanluker/vscode-coverage-gutters/issues/194#issuecomment-450383863)

[2019-09-02 15:42] ryanluker commented on #234
@omihalas thanks for submitting an issue! This is probably related to the relative path detection (thus your correct statement around package name being correct). This may be fixed in 2.4.1 with the work done to optimise that process.

You can get a review of that fix here https://github.com/ryanluker/vscode-coverage-gutters/issues/231#issuecomment-522339044 which might solve your issue.

[2019-09-03 16:22] minifyre commented on #232
@ryanluker While not being able to recolor the line numbers is unfortunate, the git lens type decorators seem like the next best thing.

Thanks for all your hard work on this extension, it has greatly simplified my workflow!

[2019-09-06 17:32] zazazack opened #235 "Extension causes high cpu load"
[CPU-20190906T173122.604Z.cpuprofile.txt](https://github.com/ryanluker/vscode-coverage-gutters/files/3584996/CPU-20190906T173122.604Z.cpuprofile.txt)

- Issue Type: `Performance`
- Extension Name: `vscode-coverage-gutters`
- Extension Version: `2.4.0`
- OS Version: `Darwin x64 18.7.0`
- VSCode version: `1.38.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Use

[2019-09-06 17:33] zazazack commented on #235
Love the extension, but does seem to be the cause of some significant lag. May be able to help with your direction.

[2019-09-08 16:27] ryanluker commented on #235
@zazazack Thanks for submitting a ticket! This might be better in the next version `2.4.1` where some work has been done on improving the performance of the relative path resolution and caching.

In terms of investigation for now, which style of lcov are you using? Depending on the style this will greatly affect the performance if you are using relative paths in the coverage files (see the example

[2019-09-08 16:47] ryanluker commented on #232
For future reference, this is related to the other ticket around extra info being added in a code lens type way. https://github.com/ryanluker/vscode-coverage-gutters/issues/194

[2019-09-11 02:53] drettie commented on #224
The python coverage module already has a command to convert the .coverage file to html and cobertura compliant xml which then can be parse with this extension.

Here are the commands i run -
[code]

I was quite confused getting this to work at first as the extension by default only searches for files named cov.xml whereas the default output filename from the coverage xml command is **coverage.xml*

[2019-09-24 13:59] ryanluker commented on #224
@drettie Thanks for the input! Good to know there is a workaround for now with regards to the usual python coverage generation flow (still planning on adding support for this in `3.0.0`).

Interesting mention around the default file name :thinking: I vaguely remember setting it to `cov.xml` for some reason as it might have been the default for php coverage generation for example.

One way to impro

[2019-09-24 14:05] ryanluker commented on #233
@lukebarton going to close this due to age but if you get back to me with more information I will gladly open it again.

[2019-09-24 14:05] #233 closed

[2019-10-01 10:52] craigbrett17 opened #236 "Start watching on workspace open"
I have a setup for a Python project where I'm using coverage gutters + save and run to get a fairly automated unit test coverage experience for Python. It's helping a lot. One of the last bits i need to automate though is watching the cov.xml file when I open my folder.

I'd like a settings.json setting to have coverage gutters start watching on workspace start up, please.

This is a quality of li

[2019-10-02 06:27] moshfeu commented on #225
If it helps, I just did it in my extension using azure-pipelines. Here is the config file:

https://github.com/moshfeu/vscode-compare-folders/blob/de95e504e8ad08abfcf671da17f362028f1228b0/azure-pipelines.yml

Most of it from the docs but the last step - is the publish step

[2019-10-06 21:25] ryanluker commented on #225
@moshfeu thanks a bunch for the example! I was considering moving this project to github ci / actions now that I have access to that... Either way thanks again for the relevant info!

[2019-10-06 21:32] ryanluker commented on #236
@craigbrett17 thanks for the feature suggestion!
Just so I understand completely, you are saying that the extension should automatically "try" to start watching when a workspace is opened. Where "try" would mean looking for coverage files and if none are found it would not activate coverage watch, while if some coverage is found it would start watching?

[2019-10-06 21:44] moshfeu commented on #225
My pleasure :) Good luck. There is an [open PR](https://github.com/microsoft/vscode-docs/pull/3130) for adding this to the docs, maybe it worth to mention there also the Github actions way.

[2019-10-06 22:01] ryanluker opened #237 "Cleanup the preview coverage functionality"
### Description
Minor cleanup of the preview coverage feature to remove some tech debt (code structure, content security cleanup, etc). This came to my attention via an error that is appearing in the test builds.
[code]

### Work
- [ ] add a content security policy to preview html (https://code.visualstudio.com/api/extension-guides/webview#content-security-policy)
- [ ] move webview creation logic

[2019-10-08 08:14] craigbrett17 commented on #236
@ryanluker: I think you've hit it on the head. Sort of an on activation trigger (at least I think that's what the VS extension event is). I know it only really saves me doing one shortcut key, but it makes it feel more embedded then. Obviously best to keep it optional, as not everyone might want this behaviour, but I'd be keeping it on myself.

[2019-10-09 22:14] TheAifam5 commented on #236
I like the idea :)

[2019-10-14 21:28] ryanluker commented on #236
@TheAifam5 you can use the command palette (maybe that's the "omnibox" thing you mentioned?).
I have attached a screen share showing that but the other feature that was discussed here will be added in version 3.
[Screencast from 2019-10-14 02:25:09 PM.zip](https://github.com/ryanluker/vscode-coverage-gutters/files/3726475/Screencast.from.2019-10-14.02.25.09.PM.zip)

[2019-10-19 18:58] ryanluker commented on #234
@omihalas `2.4.1` has been released, going to close this but I can reopen it if your issue persists.

[2019-10-19 18:59] ryanluker commented on #235
@zazazack `2.4.1` has been released, going to close this but I can reopen it if your issue persists.

[2019-10-19 18:59] #235 closed

[2019-10-20 00:34] Peppie23 commented on #188
@ryanluker i can reproduce this issue, it just happened to me.
The version i use is: v2.4.1. If i add a workspace-name the coverage will never be displayed.

**My workspace settings file:**
[code]

I have debugged the code and the `foundSection` variable in `sectionfinder.js::findSectionForEditor()` is false. Maybe you can optimize the variable `workspaceFolder.name` on `sectionfinder.js::calculat

[2019-10-20 06:03] tiffany352 opened #239 "Color settings don't work"
**Describe the bug**
I'm red-green colorblind (the most common type, which affects 1 in 25 people). This app uses shades of red and green of very similar lightness and hue which I have to squint to tell apart.

I see that there's settings for "Highlightdark" and "Highlightlight" but if I change them then nothing seems to happen. It seems like I have to edit those SVGs that are hardcoded to red and

[2019-10-20 06:07] tiffany352 opened #240 "Random one pixel gaps in gutter"
**Describe the bug**
Sometimes there is a one pixel gap between two lines in the gutter.

**To Reproduce**
Steps to reproduce the behaviour:
1. Have a high DPI monitor. I was able to reproduce with both 125% scaling and with 200% scaling in Windows.
2. Open a file with coverage information.
3. Scroll until you see a one pixel gap.

**Expected behaviour**
There should ideally not be any gaps.

**Sc

[2019-10-20 20:33] ryanluker commented on #240
@tiffany352 Thanks for the issue! The decorator feature (which is used to show code coverage in the gutter) is provided by microsoft via the vscode api. I will have to look through the vscode issues to see if there is something similar to this has been brought up before.

You could also try using the line coverage option to see if the 1 pixel gaps exist there as well...
https://github.com/ryanluke

[2019-10-20 20:56] ryanluker commented on #239
@tiffany352 Thanks for this issue as well. You are correct that there is no easy way to swap to a colour blind mode (via a single setting) but you can modify the colours of both the gutter and line coverage.

1) To modify the line coverage you can simply adjust the rgba to your liking of the theme you are using (looks to be dark from your other issue). https://github.com/ryanluker/vscode-coverage-

[2019-10-20 21:19] tiffany352 commented on #240
It looks like the line coverage option produces both gaps and overlaps:

![image](https://user-images.githubusercontent.com/1254344/67166477-a3074880-f344-11e9-8c2b-e936d3272668.png)

[2019-10-20 21:56] tiffany352 commented on #239
I tried replacing the SVG but it didn't seem to work either. I'm not sure what I'm doing wrong with it. I currently only have coverage files in a repo that's on remote SSH, so I can't really tell if there's something specific to that I'm doing wrong. I tried putting the file both on my local PC and on the remote host and using the path to it. In both cases, the gutter image doesn't render.

As for

[2019-10-21 14:06] omihalas commented on #234
Hello, I have updated the plugin. The bug is still present and the problem got even worse. The lines in the editor remain uncolored. :| event with the files that were rendered last time.

[2019-10-21 23:22] ryanluker commented on #240
@tiffany352 thanks for the further information, I have finished looking through the vscode issue backlog and noticed something similar happening to another user https://github.com/microsoft/vscode/issues/82232#issuecomment-541055688 . Based on the explanation given there, it is definitely a vscode issue so I will close this ticket but I encourage you to raise this in the main vscode repository as

[2019-10-21 23:22] #240 closed

[2019-10-21 23:29] ryanluker commented on #239
@tiffany352 thanks for the extensive reply!

The SVG issue might be related to using the remote ssh option but I will have to try finding time to debug that on my windows box to know for certain.

Partial code coverage is only supported by some coverage tools and languages that output in the lcov format. I have only seen js and ts produce such items personally.

Definitely could investigate mutati

[2019-10-21 23:45] ryanluker opened #243 "Chores for 2.4.2 release"
### Work
- [x] Add CTA for maintainers by linking to github issues
- [x] Add mention to workspace file name fix by `kh2se2013`
- [x] Increment version numbers

[2019-10-21 23:49] ryanluker commented on #234
@omihalas thanks for the quick response. Looking at the the cov.xml again it almost seems like you only have coverage for the test files and nothing else (given that the 7 files all go something like `file name="C:\wamp\www\test\codeCoverage`). This maybe more of an issue with generating the coverage for the correct module (maybe take a look at the example php project https://github.com/ryanluker/

[2019-10-21 23:50] ryanluker commented on #228
Closing this one due to inactivity but can reopen if it is still an issue.

[2019-10-21 23:50] #228 closed

[2019-10-22 07:17] omihalas commented on #234
Hello, to generate the cov.xml i am using the phpunit package "phpunit/php-code-coverage": "^2.2"
![Screenshot_1](https://user-images.githubusercontent.com/52756478/67264853-fac4c180-f4b4-11e9-891c-9e0a090493c4.png) Please see this screenshots. The only problem is with files that are defined outside the package xml attribute

[2019-10-23 23:08] zeroid opened #244 "Gutters not displayed in latest release for absolute Windows paths"
**Describe the bug**
Display of gutters (Windows, absolute paths) is broken in latest release 2.4.1

**To Reproduce**
Steps to reproduce the behaviour:
1. Generate lcov.info with absolute windows paths (e.g. SF:F:\Workspaces\SDK\C#\Module\Class.cs)
2. Click on 'Coverage Gutters: Display Coverage'
3. Gutters are not displayed

**Expected behaviour**
Gutters should be displayed

**Desktop (please co

[2019-10-24 08:32] danilo-afonseca commented on #244
Hi, how do I install version 2.4.0

[2019-10-24 09:10] danilo-afonseca commented on #244
For me no coverage was being displayed for version 2.4.1, but all works fine on version 2.4.0. Thanks

[2019-10-24 16:06] ryanluker commented on #244
@danilo-afonseca until I can investigate the issue, (which might be fixed in 2.4.2 with the workspace name improvements) you can download a vsix from the releases and install it via the instructions here https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-10-27 20:02] #243 closed

[2019-10-27 20:16] ryanluker commented on #244
@zeroid @danilo-afonseca version 2.4.2 has been released with the workspace normalization improvements. Let me know if that helps any!

[2019-10-27 22:02] danilo-afonseca commented on #244
Hi @ryanluker it worked fine for me, thanks

[2019-10-28 15:07] zeroid commented on #244
Looks good to me also. Thanks.

[2019-10-28 15:07] #244 closed

[2019-10-28 16:39] Peppie23 commented on #188
@ryanluker fyi: The new version: v2.4.2 does not fix that issue.

[2019-11-23 05:10] justarandomgeek opened #245 "When multiple sections list the same file (SF), only the last is applied"
I have a lcov.info file with the results of many tests run together and this extension seems to only take the last set of results for a given file. It would be nice to display all of them, or even allow filtering on the test name!

[2019-11-23 05:27] justarandomgeek commented on #245
Actually, it looks like even if TN is the same, only the last section for a particular SF is displayed!

[2019-11-24 23:16] ryanluker commented on #234
@omihalas the current way the extension works, by default, is it requires files to be inside the workspace that you have open this might be causing your issue. There is a work around that I have pasted below, you can us this to help with the path switching in the coverage files.

[code]

[2019-11-24 23:18] ryanluker commented on #245
@justarandomgeek Thanks for submitting this issue!
I have added it to the 2.4.3 release (3.0.0 will be a while in terms of development time) and I think this will also fix some issues other people have been having so it will be good to get this out!
https://github.com/ryanluker/vscode-coverage-gutters/issues/221

[2019-12-07 00:57] davidbrownellWork opened #248 "Regression in 2.4.x"
**Describe the bug**
I am able to display coverage information in 2.3.1. However, I do not see coverage information using the same lcov file and configuration in the 2.4.x versions of the extension. The lcov file is using relative paths.

I've noticed that the 2.3.1 version prints extensive JSON information with line information while 2.4.x does not; I don't know if this is functionality that has

[2019-12-11 07:33] mohamedahmed01 opened #249 "parse remote coverge files"
I always develop on a vm "Homestead" using ssh ,
it would be great if VS code can read the coverage from the vm,
Either using remote ssh something like local/remote file mapping .

[2019-12-15 21:07] ryanluker commented on #248
@davidbrownellWork thanks for submitting an issue, this most likely is an issue with the new relative source finding system, can you provide a sample lcov file that you are trying to display coverage for?

[2019-12-15 21:11] ryanluker commented on #249
@mohamedahmed01 thanks for submitting an issue! I would have to investigate vscode's remote project capabilities but at minimum choosing a network file could be something that is supported as it would be no different then loading the file locally.

There might be some extra functionality around authentication if it was over ssh but otherwise there is already functionality. Another option is the fe

[2019-12-28 01:14] raiyankamal commented on #248
I'm experiencing the same issue, on two different computers. In both cases I see this as output:

[code]

[2019-12-30 18:54] ryanluker commented on #248
@raiyankamal thanks for the update, you can use the remote path feature to fix this if you continue to run the tests in a docker conatiner!
https://github.com/ryanluker/vscode-coverage-gutters/blob/master/package.json#L127-L131

[2020-01-12 19:45] ryanluker commented on #248
@davidbrownellWork any chance for that sample lcov file? If I dont hear from you shortly I will close the issue for now but more then willing to pick it back up at a later date :grin: .

[2020-01-12 20:34] ryanluker commented on #245
@justarandomgeek this will go out with the 2.4.3 release.

[2020-01-12 20:34] #245 closed

[2020-01-13 17:47] davidbrownellWork commented on #248
I apologize, @ryanluker, I am slammed these days. Let's close this issue and reopen when I have time to put together a small sample the reproduces the issue. Thanks for following up!

[2020-01-13 17:47] #248 closed

[2020-01-17 09:10] grit96 opened #250 "Links don't work in Preview Coverage Report"
**Describe the bug**
None of the links to files work in the Preview Coverage Report

**To Reproduce**
Steps to reproduce the behaviour:
1. Run 'Preview Coverage Report' from command palette
2. Click on one of the file links
3. Nothing happens

**Expected behaviour**
As when viewing the coverage report in the browser, clicking the link should display the coverage report for that file

**Screenshots

[2020-01-26 19:32] ryanluker commented on #250
@grit96 Thanks for submitting an issue!
There is a bit of complexity here given the security Microsoft has put into the webview api for vscode extensions https://code.visualstudio.com/api/extension-guides/webview#loading-local-content . By default not many urls and resources are available to navigate between (I can see the expected errors when I open my debugger on a coverage report).

![Screensho

[2020-02-01 03:30] buckeyez opened #251 "Command Not Found (Extension Unusable)"
**Describe the bug**
Trying to run any command (display/watch), either from command pallet or shortcuts, results in an error: `command 'extension.x' not found`. Where x can either be displayCoverage, watchCoverageAndVisibleEditors, etc...

**To Reproduce**
Steps to reproduce the behaviour:
1. Fresh install of Coverage Gutters
2. Run py.test foobar --cov-report xml:cov.xml --cov foobar (to generate

[2020-02-02 23:44] ryanluker commented on #251
@buckeyez Thanks for submitting an issue!
I am having trouble reproducing this locally... I also use arch linux and have vscode 1.42.1 installed locally and cannot get the same error to occur. Can you link an output of the gutters extension log so we can see if the extension is starting? I have attached a gif showing what some of the output should look like.
![251](https://user-images.githubuserco

[2020-02-05 22:03] acgritt opened #252 "Coverage not displaying in Workspace"
**Describe the bug**
I have a code-workspace file setup with multiple root folders. When I open just the folder with the source I see the coverage just fine. when I use the code-workspace it doesn't display the coverage and just reports this in the output tab:
[code]

**Expected behaviour**
Code coverage should highlight the lines in the files.

**Desktop (please complete the following information

[2020-02-08 19:26] ryanluker commented on #252
@acgritt thanks for submitting an issue!
Are you able to get the example workspace to work locally?
https://github.com/ryanluker/vscode-coverage-gutters/blob/master/example/example.code-workspace

I wasn't able to reproduce the bug (linux, vscode: 1.41.1, extension: 2.4.3) either through the open workspace or the add folders options.
https://webmshare.com/play/jvXPg

[2020-02-10 17:18] acgritt commented on #252
I think I have narrowed down the issue. It seems related to the fact that I have a `name` attribute setup with the folder in the workspace file. so my file looks like this:
[code]

If I remove the `name` property then it is able to highlight the lines fine.

[2020-02-10 22:11] Troto opened #253 "Gutter highlights make breakpoints unclickable"
**Describe the bug**
When there are highlights for code coverage in the "gutter" it makes the area unclickable which prevents breakpoints being set. This seems like a rather big deal.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a file with coverage
2. Click on an area covered by a highlight where you would like a breakpoint
3. Nothing happens

**Expected behaviour**
For step 3 it

[2020-02-12 04:17] valerierose opened #254 "Error Could not find a Coverage file!"
**Describe the bug**
I have coverage.xml in my root folder and neither changing the setting nor symlinking cov.xml to coverage.xml will pick it up. No matter what I try, I get the error:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Installed the extension
2. Change `Xmlname` to `coverage.xml` (OR reset the setting and symlink `coverage.xml` to `cov.xml`)
3. Select `Display Coverag

[2020-02-14 13:47] Syntactical01 commented on #160
It appears I am still having this issue. I don't have any special settings specified and the logs appear to be normal but none of the lines highlight. It works if I roll back to `2.0.0`:
[code]
2.0.0:
![image](https://user-images.githubusercontent.com/46199814/74536670-26edcd80-4efe-11ea-8283-ba81ccd2ffe7.png)

2.4.3:
![image](https://user-images.githubusercontent.com/46199814/74536724-44229c00-4e